Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Do not send wrong value for crypt_passwords option.
  frontend/src/components/admin/identities/form_steps/AliasRecipientForm.vue
  frontend/src/views/admin/identities/AliasEditView.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Faster frontend authentication.
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Fixed tests
  modoboa/admin/models/domain.py
  modoboa/admin/models/mixins.py
  modoboa/autoreply/api/v2/tests.py
  modoboa/calendars/tests.py
  modoboa/contacts/tests.py
  modoboa/core/api/v1/tests.py
  modoboa/core/models.py
Due: pylint

Fixed tests
  modoboa/contacts/tests.py
  modoboa/core/tests/test_ldap.py
Due: pylint

Added more instructions for 2.6 upgrade
  doc/upgrade.rst
Due: none

Added way to allow/block alias target at creation/modification.
  frontend/src/components/tools/ParametersForm.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/models/alias.py
  modoboa/admin/tests/test_alias_targets.py
Due: pylint, prettier, eslint

Some fixes
  frontend/src/api/repository.js
  frontend/src/components/account/ForwardForm.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/models/alias.py
Due: pylint, prettier, eslint

Force bcrypt 4.3.0 for now
  pyproject.toml
Due: none

Replaced anyof by allof condition.
  modoboa/autoreply/models.py
Due: pylint

Disable authentication to access swagger UI
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/urls.py
  test_project/test_project/settings.py
Due: pylint

Make sure to reset current tab when navigating through settings.
  frontend/src/views/admin/ParametersView.vue
Due: prettier, eslint

Various frontend fixes
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/router/index.js
Due: prettier, eslint

Removed deprecated test
  modoboa/core/api/v1/tests.py
Due: pylint

Stop logging DNS issues to the database
  doc/upgrade.rst
  modoboa/admin/lib.py
  modoboa/core/commands/templates/settings.py.tpl
Due: pylint

Fixed unit tests
  modoboa/admin/tests/test_mx.py
Due: pylint

Various frontend improvements.
  frontend/src/components/admin/domains/DomainAliasForm.vue
  frontend/src/components/admin/domains/DomainEditForm.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/AccountCreationForm.vue
  frontend/src/components/admin/identities/AliasCreationForm.vue
  frontend/src/components/admin/identities/AliasEditForm.vue
Due: prettier, eslint

Split identities export by type
  frontend/src/api/identities.js
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/lib.py
Due: pylint, prettier, eslint

Some improvements about Alarms management
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/views/admin/alarms/AlarmsView.vue
Due: prettier, eslint

Enabled server-side pagination for domain Listing
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainList.vue
  modoboa/admin/api/v2/viewsets.py
Due: pylint, prettier, eslint

Fixed test
  modoboa/relaydomains/tests.py
Due: pylint
