Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Improved coverage
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Force installation of pip < 26 for now
  .github/workflows/modoboa.yml
Due: none

Few fixes.
  doc-ng/installation/upgrade.md
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/stores/bus.store.js
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/webmail/jobs.py
  modoboa/webmail/lib/sendmail.py
Due: pylint, prettier, eslint

Webmail fixes
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/plugins/rules.js
  modoboa/webmail/models.py
Due: pylint, prettier, eslint

Removed default top redirection setting.
  frontend/src/components/shared/TopMenu.vue
  frontend/src/router/index.js
  frontend/src/stores/global.store.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/app_settings.py
  modoboa/lib/tests/__init__.py
Due: pylint, prettier, eslint

Install pip < 26 to avoid compatibility issue with pip-tools.
  docker/Dockerfile.dev
Due: none

Fixed regression introduced by scheduling feature.
  modoboa/webmail/lib/utils.py
Due: pylint

Fixed typo
  frontend/src/components/webmail/EmailList.vue
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: prettier, eslint

core(translate): update all Turkish language files! ✨
  frontend/src/locale/tr/app.po
  modoboa/locale/tr/LC_MESSAGES/django.po
  modoboa/locale/tr_TR/LC_MESSAGES/django.po
Due: none

Webmail: save message as draft
  docker-compose.yml
  frontend/src/api/webmail.js
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/views/webmail/EmailView.vue
  modoboa/lib/email_utils.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Use new URL to download docker image
  .github/workflows/modoboa.yml
Due: none

Added debug
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Set MEDIA_ROOT to workdir
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Added new test
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Improved dkim key creation to avoid duplicate runs.
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/handlers.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/models/domain.py
  modoboa/admin/signals.py
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/rspamd/handlers.py
  modoboa/rspamd/jobs.py
  modoboa/rspamd/management/__init__.py
  modoboa/rspamd/management/commands/__init__.py
  modoboa/rspamd/tests.py
Due: pylint

Improved coverage
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/tests/test_domain.py
  modoboa/rspamd/tests.py
Due: pylint

Set django-rq 3.2.2 as minimal version
  pyproject.toml
Due: none

Added link to "Moving to Modoboa" section.
  doc-ng/.vitepress/config.mjs
  doc-ng/moving.md
Due: prettier, eslint

Updated email field label to make a distinction with Address field.
  frontend/src/components/contacts/EmailField.vue
Due: prettier, eslint

Make sure to use ISO based weeks in every case.
  modoboa/dmarc/lib.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
