Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

fix(webmail): separate the links and the images switches
  frontend/src/views/webmail/EmailView.vue
  modoboa/lib/email_utils.py
  modoboa/lib/tests/sample_messages/multipart-output-html_links.txt
  modoboa/lib/tests/test_links_images.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_imapemail.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): separate the links and the images switches (#4200)
  frontend/src/views/webmail/EmailView.vue
  modoboa/lib/email_utils.py
  modoboa/lib/tests/sample_messages/multipart-output-html_links.txt
  modoboa/lib/tests/test_links_images.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_imapemail.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

test: run the test suite on its own Redis database
  modoboa/lib/test_runners.py
  test_project/test_project/settings.py
Due: pylint

test: run the test suite on its own Redis database (#4205)
  modoboa/lib/test_runners.py
  test_project/test_project/settings.py
Due: pylint

fix(webmail): search in every header and in the body, without SORT
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/test_search.py
  modoboa/webmail/viewsets.py
Due: pylint

Fixed review comment
  modoboa/webmail/lib/attachments.py
Due: pylint

fix(webmail): limit the number and the total size of attachments
  modoboa/webmail/app_settings.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_attachment_limits.py
  modoboa/webmail/viewsets.py
Due: pylint

fix(webmail): check the sender again before a scheduled message leaves
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_scheduled_sender.py
Due: pylint

fix(webmail): check the sender again before a scheduled message leaves (#4206)
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_scheduled_sender.py
Due: pylint

fix(webmail): parse IMAP flags containing special characters
  modoboa/webmail/lib/fetch_parser.py
  modoboa/webmail/tests/test_fetch_parser.py
Due: pylint

fix(webmail): parse IMAP flags containing special characters (#4207)
  modoboa/webmail/lib/fetch_parser.py
  modoboa/webmail/tests/test_fetch_parser.py
Due: pylint

fix(core): send syslog records to /dev/log
  modoboa/core/commands/templates/settings.py.tpl
Due: none

fix(policyd): make sending limit accounting reliable
  modoboa/policyd/constants.py
  modoboa/policyd/core.py
  modoboa/policyd/handlers.py
  modoboa/policyd/tests.py
Due: pylint

fix(lib): share Redis connection pool within a process
  modoboa/lib/redis.py
  modoboa/lib/tests/test_redis.py
Due: pylint

docs: add upgrade instructions for policy daemon and syslog changes
  doc-ng/installation/postfix.md
  doc-ng/installation/upgrade.md
Due: none

fix(policyd): counters and logging (#4211)
  doc-ng/installation/postfix.md
  doc-ng/installation/upgrade.md
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/lib/redis.py
  modoboa/lib/tests/test_redis.py
  modoboa/policyd/constants.py
  modoboa/policyd/core.py
  modoboa/policyd/handlers.py
  modoboa/policyd/tests.py
Due: pylint

feat(webmail): add a conversation view
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailMessageBody.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/router/index.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

refactor(webmail): load conversation bodies from the open panels
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): open a conversation of one message as a message
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): lay out the sender, recipients and attachments together
  frontend/src/components/webmail/AddressButton.vue
  frontend/src/components/webmail/AttachmentList.vue
  frontend/src/components/webmail/MessageHeader.vue
  frontend/src/styles/main.scss
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

fix(webmail): stop listing embedded images as attachments
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_bodystructure.py
Due: pylint

feat(webmail): show attachments as cards
  frontend/src/components/webmail/AttachmentList.vue
  frontend/src/styles/main.scss
  frontend/src/utils.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): show the bulk actions only when messages are selected
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): redesign the message and conversation headers
  frontend/src/styles/main.scss
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

fix(webmail): widen the date column and show the conversation control
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): offer to display blocked remote images
  frontend/src/components/webmail/RemoteContentBanner.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): add a listing mode preference
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_threads.py
Due: pylint

fix(webmail): let the listing fill the room under its toolbar
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
  frontend/src/views/webmail/MailboxView.vue
Due: prettier, eslint

feat(webmail): always display embedded images
  modoboa/lib/email_utils.py
  modoboa/lib/tests/sample_messages/multipart-output-html_nolinks.txt
  modoboa/lib/tests/test_links_images.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_imapemail.py
Due: pylint

feat(webmail): return every header the message view displays
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_dates.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): indent the messages of an expanded conversation less
  frontend/src/styles/main.scss
Due: none

fix(webmail): keep every view clear of the top menu
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/connected/ConnectedView.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/views/webmail/MailboxView.vue
Due: prettier, eslint

feat(webmail): make the messages list readable at a glance
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailListItem.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/styles/main.scss
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_dates.py
Due: pylint, prettier, eslint

fix(webmail): don't group unrelated messages into a conversation
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/test_threads.py
Due: pylint

feat(webmail): describe attachments from the body structure
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_attachment_names.py
Due: pylint

feat(webmail): widen the listing search field
  frontend/src/styles/main.scss
Due: none

feat(webmail): switch the message list to conversations
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailListItem.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/stores/webmail.store.js
Due: prettier, eslint

feat(webmail): list messages as threads
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_threads.py
  modoboa/webmail/viewsets.py
Due: pylint

feat(webmail): align the listing toolbar with the list
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
