Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Fixed test
  modoboa/admin/api/v2/tests.py
Due: pylint

Updated codecov workflow
  .github/workflows/modoboa.yml
Due: none

Improve visibility of the installer
  README.rst
Due: none

Fixed styling issue with creation forms
  frontend/src/components/tools/CreationForm.vue
Due: prettier, eslint

Align with vuetify changes
  frontend/src/views/account/SettingsView.vue
  frontend/src/views/admin/ParametersView.vue
  frontend/src/views/admin/domains/DomainView.vue
Due: prettier, eslint

Better errors display for sieve connections
  frontend/src/api/repository.js
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
Due: pylint, prettier, eslint

Added unit tests
  modoboa/sievefilters/api/v2/tests.py
Due: pylint

use authoritative server to perform dns checks
  modoboa/admin/lib.py
Due: pylint

make the dns authoritative check code stronger
  modoboa/admin/lib.py
Due: pylint

Increase coverage
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
Due: pylint

Added tests for FIDO auth
  modoboa/core/api/v2/tests.py
  modoboa/core/factories.py
  modoboa/core/models.py
  modoboa/core/tests/test_authentication.py
  modoboa/sievefilters/imaputils.py
Due: pylint

Fixed locale files
  modoboa/locale/nl_NL/LC_MESSAGES/django.po
  modoboa/locale/pt_PT/LC_MESSAGES/django.po
Due: none

Removed serializer check for dkim dir, added alarms on gen
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/constants.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
Due: pylint

Removed useless constant
  modoboa/admin/constants.py
Due: pylint

Removed old ref to DKIM_DIR_NOT_FOUND,
  README.rst
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
Due: pylint

Updated tests
  modoboa/parameters/api/v2/tests.py
Due: pylint

Fixed frontend build output dir
  frontend/vite.config.js
Due: prettier, eslint

Added command to repair old postfix autoreply setups
  doc/upgrade.rst
  modoboa/admin/management/commands/subcommands/_repair.py
Due: pylint

Fixes after review of beta2
  doc/upgrade.rst
  frontend/src/components/admin/dmarc/DmarcAligmentChart.vue
  frontend/src/layouts/dashboard/DashboardLayout.vue
  frontend/src/views/admin/ParametersView.vue
  frontend/src/views/admin/domains/DomainEditView.vue
  frontend/src/views/admin/domains/DomainView.vue
  frontend/src/views/admin/identities/AccountEditView.vue
  frontend/src/views/admin/identities/AliasEditView.vue
  modoboa/core/commands/templates/settings.py.tpl
  requirements.txt
Due: prettier, eslint

Cleanup and fixes
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/login/PasswordRecoveryChangeForm.vue
  frontend/src/components/login/PasswordRecoveryForm.vue
  frontend/src/components/login/PasswordRecoverySmsTotpForm.vue
  frontend/src/components/login/TwofaForm.vue
  frontend/src/router/index.js
  frontend/src/views/account/SettingsView.vue
  frontend/src/views/admin/ParametersView.vue
  frontend/src/views/login/PasswordRecoveryChangeView.vue
  frontend/src/views/login/PasswordRecoveryForm.vue
  frontend/src/views/login/PasswordRecoverySmsTotpView.vue
  frontend/src/views/login/PasswordRecoveryView.vue
  frontend/src/views/login/TwoFA.vue
Due: prettier, eslint

Apply menu permissions also to subitems
  frontend/src/layouts/dashboard/NavBar.vue
Due: prettier, eslint
