Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

fix(webmail): store attachments privately and clean up resources (#4181)
  .gitignore
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0003_move_attachments_out_of_media.py
  modoboa/webmail/models.py
  modoboa/webmail/tests/test_attachments_storage.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
  test_project/test_project/cron_config.py
Due: pylint

perf(webmail): use a single IMAP connection per request
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_connections.py
  modoboa/webmail/viewsets.py
Due: pylint

perf(webmail): use a single IMAP connection per request (#4182)
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_connections.py
  modoboa/webmail/viewsets.py
Due: pylint

perf(webmail): get unseen counters with the mailboxes list
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_mailbox_counters.py
Due: pylint

perf(webmail): get unseen counters with the mailboxes list (#4183)
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_mailbox_counters.py
Due: pylint

fix(webmail): really move messages out of the source mailbox
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_move.py
Due: pylint

fix(webmail): really move messages out of the source mailbox (#4184)
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_move.py
Due: pylint

fix(frontend): show readable messages for API errors
  frontend/src/api/errors.js
  frontend/src/api/repository.js
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(frontend): show readable messages for API errors (#4185)
  frontend/src/api/errors.js
  frontend/src/api/repository.js
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(webmail): recognize special folders by type, not by name
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/composables/webmail.js
  frontend/src/constants.json
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/stores/webmail.store.js
  frontend/src/views/webmail/EmailView.vue
Due: prettier, eslint

fix(webmail): recognize special folders by type, not by name (#4186)
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/composables/webmail.js
  frontend/src/constants.json
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/stores/webmail.store.js
  frontend/src/views/webmail/EmailView.vue
Due: prettier, eslint

fix(webmail): prevent deleting or renaming special mailboxes
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/tests/test_mailbox_protection.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): prevent deleting or renaming special mailboxes (#4187)
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/tests/test_mailbox_protection.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): send messages in the format chosen in the editor
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0004_scheduledmessage_body_format.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_body_format.py
Due: pylint, prettier, eslint

fix(webmail): keep replies in their thread
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0005_scheduledmessage_references.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_references.py
Due: pylint, prettier, eslint

fix(webmail): reopen drafts in the format they were written in
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_body_format.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): flag original messages of scheduled replies and drafts
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/lib/dovecot.py
  modoboa/lib/tests/test_dovecot.py
  modoboa/webmail/constants.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/migrations/0006_scheduledmessage_original_message.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_flags.py
Due: pylint, prettier, eslint

fix(webmail): forward the attachments of the original message
  frontend/src/api/webmail.js
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_forward_attachments.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): forward the attachments of the original message (#4189)
  frontend/src/api/webmail.js
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_forward_attachments.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): display dates in the current time zone
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_dates.py
Due: pylint

fix(webmail): display dates in the current time zone (#4191)
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_dates.py
Due: pylint

fix(webmail): reject scheduled messages that don't fit in the database
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): reject scheduled messages that don't fit in the database (#4192)
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): handle invalid inputs and unexpected server replies
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/models.py
  modoboa/webmail/tests/test_robustness.py
  modoboa/webmail/viewsets.py
Due: pylint

fix(webmail): handle invalid inputs and unexpected server replies (#4193)
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/models.py
  modoboa/webmail/tests/test_robustness.py
  modoboa/webmail/viewsets.py
Due: pylint

Webmail fix references (#4194)
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0005_scheduledmessage_references.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_references.py
Due: pylint, prettier, eslint

fix(frontend): make message drag and drop work in Firefox
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
Due: prettier, eslint

fix(frontend): make message drag and drop work in Firefox (#4196)
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
Due: prettier, eslint

fix(frontend): refresh the messages list at the preferred interval
  frontend/src/components/webmail/EmailList.vue
Due: prettier, eslint

fix(frontend): refresh the messages list at the preferred interval (#4197)
  frontend/src/components/webmail/EmailList.vue
Due: prettier, eslint

fix(frontend): don't duplicate a draft saved after reloading the page
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(frontend): don't duplicate a draft saved after reloading the page (#4198)
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(frontend): choose the sender among the user's addresses
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(frontend): choose the sender among the user's addresses (#4199)
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

fix(webmail): finish the attachments upgrade of existing installations
  doc-ng/installation/upgrade.md
  modoboa/webmail/apps.py
  modoboa/webmail/checks.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/management/__init__.py
  modoboa/webmail/management/commands/__init__.py
  modoboa/webmail/management/commands/purge_webmail_legacy_data.py
  modoboa/webmail/tests/test_attachments_storage.py
Due: pylint

fix(webmail): finish the attachments upgrade of existing installations (#4190)
  doc-ng/installation/upgrade.md
  modoboa/webmail/apps.py
  modoboa/webmail/checks.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/management/__init__.py
  modoboa/webmail/management/commands/__init__.py
  modoboa/webmail/management/commands/purge_webmail_legacy_data.py
  modoboa/webmail/tests/test_attachments_storage.py
Due: pylint

fix(webmail): skip body parts missing from the server reply
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/data.py
Due: pylint

fix(webmail): close IMAP connections quietly
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/test_connections.py
Due: pylint

fix(webmail): close IMAP connections quietly (#4202)
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/test_connections.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
