Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Various frontend fixes when connected user is a domain admin
  .gitignore
  frontend/src/api/account.js
  frontend/src/api/repository.js
  frontend/src/components/account/ProfileForm.vue
  frontend/src/components/admin/domains/DomainAdminList.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/AccountCreationForm.vue
  frontend/src/components/admin/identities/AccountEditForm.vue
  frontend/src/components/admin/identities/form_steps/AccountGeneralForm.vue
  frontend/src/components/admin/identities/form_steps/AccountMailboxForm.vue
  frontend/src/components/admin/identities/form_steps/AccountPasswordSubForm.vue
  frontend/src/components/admin/identities/form_steps/AliasGeneralForm.vue
  frontend/src/composables/permissions.js
  frontend/src/stores/auth.store.js
  frontend/src/views/admin/domains/DomainsView.vue
  frontend/src/views/admin/identities/AccountView.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/models/alias.py
  modoboa/core/api/v2/.#serializers.py
Due: pylint, prettier, eslint

Various fixes
  frontend/src/components/admin/domains/DomainAliasForm.vue
  frontend/src/components/admin/domains/DomainCreationForm.vue
  frontend/src/components/admin/domains/DomainEditForm.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/domains/form_steps/DomainLimitationsForm.vue
  frontend/src/components/admin/identities/AccountCreationForm.vue
  frontend/src/components/admin/identities/AccountEditForm.vue
  frontend/src/components/admin/identities/AliasCreationForm.vue
  frontend/src/components/admin/identities/AliasEditForm.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/admin/identities/form_steps/AccountMailboxForm.vue
  frontend/src/components/admin/identities/form_steps/AliasGeneralForm.vue
  frontend/src/components/tools/CreationForm.vue
  frontend/src/stores/accounts.store.js
  frontend/src/stores/aliases.store.js
  frontend/src/stores/domains.store.js
  frontend/src/stores/identities.store.js
  frontend/src/stores/index.js
  frontend/src/views/admin/domains/DomainEditView.vue
  frontend/src/views/admin/domains/DomainView.vue
  frontend/src/views/admin/domains/DomainsView.vue
  frontend/src/views/admin/identities/AccountView.vue
  frontend/src/views/admin/identities/AliasView.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
  modoboa/admin/tests/test_account.py
  modoboa/contacts/viewsets.py
  modoboa/core/api/v2/.#serializers.py
  modoboa/core/api/v2/viewsets.py
Due: pylint, prettier, eslint

Hide menu to users with no mailbox
  frontend/src/layouts/account/AccountLayout.vue
Due: prettier, eslint

Updated frontend deps
  frontend/yarn.lock
Due: none

Prepare for django 5.2
  .github/workflows/modoboa.yml
  pyproject.toml
Due: none

Changed rrdtool-bindings
  pyproject.toml
Due: none

Bumped Django to 5.2
  pyproject.toml
Due: none

Added debug
  tests.py
Due: pylint

Removed crypt password hasher.
  modoboa/core/password_hashers/__init__.py
  modoboa/core/password_hashers/base.py
Due: pylint

Updated tests
  modoboa/admin/tests/test_password_schemes.py
  modoboa/core/api/v2/tests.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/tests/test_checks.py
Due: pylint

Use ipv4 address for deploy test
  tests.py
Due: pylint

Imported Rspamd to main repo
  frontend/src/api/capabilities.js
  frontend/src/layouts/admin/AdminLayout.vue
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/utils.py
  modoboa/rspamd/__init__.py
  modoboa/rspamd/admin.py
  modoboa/rspamd/api/__init__.py
  modoboa/rspamd/api/v2/__init__.py
  modoboa/rspamd/api/v2/serializers.py
  modoboa/rspamd/app_settings.py
  modoboa/rspamd/apps.py
  modoboa/rspamd/handlers.py
  modoboa/rspamd/management/__init__.py
  modoboa/rspamd/management/commands/__init__.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/migrations/__init__.py
  modoboa/rspamd/models.py
  modoboa/rspamd/tests.py
  modoboa/rspamd/utils.py
  modoboa/rspamd/views.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Refactored rspamd capabilities checks
  modoboa/core/utils.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/utils.py
Due: pylint

Defer rspamdUrl access
  frontend/src/layouts/admin/AdminLayout.vue
Due: prettier, eslint

Added test
  modoboa/rspamd/__init__.py
  modoboa/rspamd/api/v2/serializers.py
  modoboa/rspamd/app_settings.py
  modoboa/rspamd/apps.py
  modoboa/rspamd/handlers.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/models.py
  modoboa/rspamd/tests.py
  modoboa/rspamd/utils.py
  modoboa/rspamd/views.py
  test_project/test_project/settings.py
Due: pylint

Removed wrong import
  modoboa/core/utils.py
Due: pylint

Fixed test
  modoboa/parameters/api/v2/tests.py
Due: pylint

Improved coverage
  modoboa/core/api/v2/tests.py
  modoboa/rspamd/tests.py
Due: pylint

Improved coverage
  modoboa/rspamd/tests.py
  modoboa/rspamd/utils.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
