Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Some update
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/jobs.py
  modoboa/core/management/commands/job_heartbeat.py
  modoboa/core/password_hashers/base.py
  pyproject.toml
  update_deps.sh
Due: pylint

Only use RQ 2.4+ and its cron capabilities.
  docker-compose.yml
  modoboa/admin/jobs.py
  modoboa/admin/models/mailbox.py
  modoboa/core/jobs.py
  pyproject.toml
  test_project/test_project/cron_config.py
  test_project/test_project/settings.py
Due: pylint

Wrap maillog management commands with simple functions.
  modoboa/maillog/jobs.py
  test_project/test_project/cron_config.py
Due: pylint

chore: use stale process as Github Actions
  .github/workflows/stale.yml
Due: none

feat: add new bsd flavor for psycopg
  pyproject.toml
Due: none

refactor: use dependencies specifier
  pyproject.toml
Due: none

fix: broken pyproject.toml
  pyproject.toml
Due: none

chore(ci): add Python 3.14 for tests
  .github/workflows/modoboa.yml
Due: none

chore(deps): update Django 5.2.10
  pyproject.toml
Due: none

Update project URL on Transifex.
  doc/conf.py
  doc/contributing/translation.rst
Due: pylint

fix(imap): issue when pattern is empty
  modoboa/webmail/lib/imaputils.py
Due: pylint

New jobs for amavis and calendars apps.
  modoboa/amavis/jobs.py
  modoboa/calendars/jobs.py
  modoboa/core/jobs.py
  modoboa/core/management/commands/job_heartbeat.py
  test_project/test_project/cron_config.py
Due: pylint

Add autofocus to TFA code input field
  modoboa/templates/registration/twofactor_code_verify.html
Due: none

ci: fix build path
  .github/workflows/documentation.yml
Due: none

docs: migrate documentation from sphinx to vitepress
  .github/workflows/documentation.yml
  .github/workflows/modoboa.yml
  .gitignore
  doc-ng/configuration.md
  doc-ng/contributing/getting_start.md
  doc-ng/contributing/plugin_api.md
  doc-ng/contributing/translation.md
  doc-ng/contributors.md
  doc-ng/index.md
  doc-ng/installation/amavis.md
  doc-ng/installation/dovecot.md
  doc-ng/installation/installer.md
  doc-ng/installation/manual.md
  doc-ng/installation/modoboa.md
  doc-ng/installation/opendkim.md
  doc-ng/installation/postfix.md
  doc-ng/installation/radicale.md
  doc-ng/installation/requirements.md
  doc-ng/installation/upgrade.md
  doc-ng/installation/webserver.md
  doc-ng/moving.md
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
  doc-ng/public/admin_dashboard.png
  doc-ng/public/api_access_form.png
  doc-ng/public/modoboa_logo.png
  doc-ng/public/user_webmail.png
  doc-ng/rebuild_venv.md
  doc-ng/rest_api.md
  doc-ng/upgrade.md
Due: none

chore: fix gitignore to exlude only folder on vitepress
  .gitignore
  doc-ng/.vitepress/config.mjs
Due: prettier, eslint

chore: Add DeepWiki badge to README
  README.rst
Due: none

Removed references to Fullcalendar
  docker/radicale_config/config
  frontend/package.json
  frontend/src/views/calendars/CalendarView.vue
  frontend/yarn.lock
  modoboa/calendars/backends/caldav_.py
Due: pylint, prettier, eslint

Fixed test
  modoboa/calendars/tests.py
Due: pylint

Update tests
  modoboa/calendars/mocks.py
  modoboa/calendars/tests.py
Due: pylint

Replaced check_mx management command by a periodic task
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/dns_checker.py
  modoboa/admin/jobs.py
  modoboa/admin/tests/test_mx.py
  pyproject.toml
  test_project/test_project/cron_config.py
Due: pylint

Removed command definition
  modoboa/admin/management/commands/modo.py
Due: pylint

Improved tests
  modoboa/admin/tests/test_mailbox_operations.py
  modoboa/admin/tests/test_mx.py
  pyproject.toml
Due: pylint
