Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Added tests
  modoboa/parameters/api/v2/tests.py
Due: pylint

New fixes
  modoboa/ldapsync/lib.py
  modoboa/lib/exceptions.py
  modoboa/lib/ldap_utils.py
  modoboa/maillog/graphics.py
  modoboa/maillog/management/commands/logparser.py
  modoboa/parameters/tools.py
  modoboa/pdfcredentials/lib.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/imaputils.py
  modoboa/sievefilters/lib.py
  pyproject.toml
Due: pylint

Only symlink to frontend directory contents instead of copying them
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Add test for frontend directory contents after calling `load_initial_data`
  modoboa/core/tests/test_core.py
Due: pylint

Allow running tests without installed LDAP package
  modoboa/admin/tests/test_need_dovecot_update.py
  modoboa/admin/tests/utils.py
  tox.ini
Due: pylint

Allow running tests with locally running Redis instance
  modoboa/admin/api/v2/tests.py
  modoboa/admin/tests/test_domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/admin/tests/utils.py
  test_project/test_project/settings.py
  tox.ini
Due: pylint

Fix annoying OIDC_RSA_PRIVATE_KEY test warning
  test_project/manage.py
  tox.ini
Due: pylint

Adding missing django-extensions test dependency
  pyproject.toml
  test-requirements.txt
Due: none

Allow running tests without network access
  modoboa/core/tests/test_views.py
  modoboa/core/tests/utils.py
Due: pylint

hush dependabot
  .github/workflows/modoboa.yml
  MANIFEST.in
  dev-requirements.txt
  doc/contributing/getting_started.rst
  docker/Dockerfile.dev
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  requirements.txt
  test-requirements.txt
Due: none

Added the OIDC key directly to the config file for the dev config
  test_project/test_project/settings.py
Due: pylint

removed old test mechanic for OIDC
  .github/workflows/modoboa.yml
Due: none

Imported Rspamd to main repo
  frontend/src/api/capabilities.js
  frontend/src/layouts/admin/AdminLayout.vue
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/utils.py
  modoboa/rspamd/__init__.py
  modoboa/rspamd/admin.py
  modoboa/rspamd/api/__init__.py
  modoboa/rspamd/api/v2/__init__.py
  modoboa/rspamd/api/v2/serializers.py
  modoboa/rspamd/app_settings.py
  modoboa/rspamd/apps.py
  modoboa/rspamd/handlers.py
  modoboa/rspamd/management/__init__.py
  modoboa/rspamd/management/commands/__init__.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/migrations/__init__.py
  modoboa/rspamd/models.py
  modoboa/rspamd/tests.py
  modoboa/rspamd/utils.py
  modoboa/rspamd/views.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Refactored rspamd capabilities checks
  modoboa/core/utils.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/utils.py
Due: pylint

add allow_special_characters for random pwd option to parameters form
  modoboa/core/app_settings.py
Due: pylint

add allow_special_characters for random pwd into serializers
  modoboa/core/api/v2/serializers.py
Due: pylint

add special characters functionnality to random password generator function make_password
  modoboa/admin/lib.py
Due: pylint

modify random password generator function make_password() to always include at least one of the possible string groups (ascii_letters, digits, special characters etc.)
  modoboa/admin/lib.py
Due: pylint

Added tests
  modoboa/admin/lib.py
  modoboa/admin/tests/test_account.py
Due: pylint

comment test_random_password with a TODO to add a new test for checking if some characters are in unhashed password before user creation with random password
  modoboa/admin/lib.py
  modoboa/admin/tests/test_account.py
Due: pylint

fixed tests
  modoboa/core/tests/test_views.py
Due: pylint

removing old tes
  modoboa/admin/tests/test_account.py
Due: pylint

Prepare for django 5.2
  .github/workflows/modoboa.yml
  pyproject.toml
Due: none

Added support for Redis sentinel
  .github/workflows/modoboa.yml
  docker-compose.yml
  docker/compose.redis-sentinel.yml
  modoboa/policyd/core.py
  modoboa/policyd/handlers.py
  test_project/envfile
  test_project/test_project/settings.py
Due: pylint

Fixed wrong workflow config
  .github/workflows/modoboa.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
