Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Improved test
  modoboa/admin/tests/test_mx.py
  test_project/.coveragerc
Due: pylint

Improved coverage.
  modoboa/amavis/tests/test_jobs.py
  modoboa/amavis/tests/test_viewsets.py
  modoboa/calendars/tests.py
  modoboa/core/management/commands/cleanlogs.py
  modoboa/core/tests/test_core.py
  modoboa/core/tests/test_jobs.py
  modoboa/maillog/tests/test_views.py
Due: pylint

Automate cron_config.py file creation
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/cron_config.py.tpl
Due: pylint

docs: migrate documentation from sphinx to vitepress
  .github/workflows/documentation.yml
  .github/workflows/modoboa.yml
  .gitignore
  doc-ng/configuration.md
  doc-ng/contributing/getting_start.md
  doc-ng/contributing/plugin_api.md
  doc-ng/contributing/translation.md
  doc-ng/contributors.md
  doc-ng/index.md
  doc-ng/installation/amavis.md
  doc-ng/installation/dovecot.md
  doc-ng/installation/installer.md
  doc-ng/installation/manual.md
  doc-ng/installation/modoboa.md
  doc-ng/installation/opendkim.md
  doc-ng/installation/postfix.md
  doc-ng/installation/radicale.md
  doc-ng/installation/requirements.md
  doc-ng/installation/upgrade.md
  doc-ng/installation/webserver.md
  doc-ng/moving.md
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
  doc-ng/public/admin_dashboard.png
  doc-ng/public/api_access_form.png
  doc-ng/public/modoboa_logo.png
  doc-ng/public/user_webmail.png
  doc-ng/rebuild_venv.md
  doc-ng/rest_api.md
  doc-ng/upgrade.md
Due: none

ci: fix build path
  .github/workflows/documentation.yml
Due: none

chore: fix gitignore to exlude only folder on vitepress
  .gitignore
  doc-ng/.vitepress/config.mjs
Due: prettier, eslint

refactor: reduce title on top left
  doc-ng/.vitepress/config.mjs
Due: prettier, eslint

Small updates
  doc-ng/.vitepress/config.mjs
  doc-ng/contributing/plugin_api.md
  doc-ng/contributing/translation.md
  doc-ng/contributors.md
  doc-ng/installation/requirements.md
Due: prettier, eslint

chore(docs): add frontmatter for each pages
  doc-ng/.vitepress/config.mjs
  doc-ng/contributing/getting_start.md
  doc-ng/contributing/plugin_api.md
  doc-ng/contributing/translation.md
  doc-ng/contributors.md
  doc-ng/index.md
  doc-ng/installation/amavis.md
  doc-ng/installation/dovecot.md
  doc-ng/installation/installer.md
  doc-ng/installation/manual.md
  doc-ng/installation/modoboa.md
  doc-ng/installation/opendkim.md
  doc-ng/installation/postfix.md
  doc-ng/installation/radicale.md
  doc-ng/installation/requirements.md
  doc-ng/installation/upgrade.md
  doc-ng/installation/webserver.md
  doc-ng/moving.md
  doc-ng/rebuild_venv.md
  doc-ng/rest_api.md
  doc-ng/upgrade.md
Due: prettier, eslint

fix(imap): issue when pattern is empty
  modoboa/webmail/lib/imaputils.py
Due: pylint

test: imap parse search parameters
  modoboa/webmail/tests/test_lib_imaputils.py
Due: pylint

test: fix code and test
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_lib_imaputils.py
Due: pylint

test: test both parameter
  modoboa/webmail/tests/test_lib_imaputils.py
Due: pylint

Removed wrong space in criteria list
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_lib_imaputils.py
Due: pylint

chore(ci): add Python 3.14 for tests
  .github/workflows/modoboa.yml
Due: none

ci: increase the timeout test on policyd for Python 3.14
  modoboa/policyd/tests.py
Due: pylint

Fix for python 3.14
  docker/Dockerfile.dev
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Keep using "fork" method for tests.
  modoboa/policyd/tests.py
Due: pylint

Set start method only once.
  modoboa/policyd/tests.py
Due: pylint

Updated RTD config
  .readthedocs.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
