Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Do not set permissions on internal aliases.
  modoboa/admin/api/v1/viewsets.py
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/handlers.py
  modoboa/admin/management/commands/subcommands/_repair.py
  modoboa/admin/models/domain.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint

Fix for autoreply when timezone offset is - from UTC instead of +
  modoboa/autoreply/models.py
Due: pylint

Updated all places using domains because of pagination.
  frontend/src/components/admin/domains/DomainAliasForm.vue
  frontend/src/components/admin/imap_migration/form_steps/ProviderAssociatedForm.vue
  frontend/src/stores/domains.store.js
Due: prettier, eslint

Fixed wrong plural form definition.
  modoboa/locale/zh/LC_MESSAGES/django.po
Due: none

Update models.py
  modoboa/autoreply/models.py
Due: pylint

Fixed build issue because of compat issue.
  .github/workflows/modoboa.yml
  test_project/test_project/settings.py
Due: pylint

Revert wrong change
  test_project/test_project/settings.py
Due: pylint

Include language in account form.
  frontend/src/components/account/ProfileForm.vue
  frontend/src/components/admin/identities/AccountEditForm.vue
  frontend/src/components/admin/identities/AccountSummary.vue
  frontend/src/components/admin/identities/form_steps/AccountProfileForm.vue
  frontend/src/plugins/gettext.js
  frontend/src/stores/index.js
  frontend/src/stores/language.store.js
Due: prettier, eslint

Ensure profile form gets validated too
  frontend/src/components/admin/identities/AccountEditForm.vue
Due: prettier, eslint

Fix wrong command parameter name
  modoboa/admin/management/commands/subcommands/_import.py
  modoboa/admin/tests/test_data/import_accounts.csv
  modoboa/admin/tests/test_import_.py
Due: pylint

Fixed wrong logic to cover disallow all external domains use case.
  frontend/src/components/admin/domains/form_steps/DomainPolicyForm.vue
  modoboa/admin/models/alias.py
  modoboa/admin/tests/test_alias_targets.py
Due: pylint, prettier, eslint

Fixed issue when trying to empty user forward.
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
Due: pylint

Fixed issues with tests
  modoboa/admin/api/v1/tests.py
  modoboa/admin/api/v1/viewsets.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/tests/test_repair.py
Due: pylint

Fixed various issues in IMAP migration UI
  frontend/src/components/admin/imap_migration/MigrationsList.vue
  frontend/src/components/admin/imap_migration/ProviderForm.vue
  frontend/src/components/admin/imap_migration/ProvidersList.vue
  frontend/src/components/admin/imap_migration/form_steps/ProviderGeneralForm.vue
  frontend/src/stores/providers.store.js
  frontend/src/views/admin/imap_migration/ProvidersView.vue
  frontend/yarn-error.log
Due: prettier, eslint

Fixed various issues in IMAP migration UI
  frontend/src/components/admin/imap_migration/MigrationsList.vue
  frontend/src/components/admin/imap_migration/ProviderForm.vue
  frontend/src/components/admin/imap_migration/ProvidersList.vue
  frontend/src/components/admin/imap_migration/form_steps/ProviderGeneralForm.vue
  frontend/src/stores/providers.store.js
  frontend/src/views/admin/imap_migration/ProvidersView.vue
Due: prettier, eslint

Documentation updated.
  doc/manual_installation/webserver.rst
  doc/upgrade.rst
Due: none

Updated translations
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Fix #3800 by removing duplicated line
  frontend/src/components/admin/domains/DKIMKeyViewer.vue
Due: prettier, eslint

Enable 'Edit alias' action available in Identities listing.
  frontend/src/components/admin/identities/AliasEditForm.vue
  frontend/src/components/admin/identities/IdentityList.vue
Due: prettier, eslint

Fix autoconfig/autodiscover for mobile clients that do not use mobileconfig
  modoboa/autoconfig/templates/autoconfig/autoconfig.xml
  modoboa/autoconfig/views.py
Due: pylint

Remove type specifer of function variable that was left over by the previous modification; Update test cases
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/views.py
Due: pylint

Revert "Bump caldav from 2.0.1 to 2.1.2"
  pyproject.toml
Due: none

Upgraded frontend dependencies.
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
