Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

ci: bump hoverkraft-tech/compose-action to v3.2.0
  .github/workflows/modoboa.yml
Due: none

fix(webmail): load replies and forwards in the format of the editor
  modoboa/webmail/tests/test_modifiers.py
  modoboa/webmail/viewsets.py
Due: pylint

fix(webmail): keep list items and indentation in the plain text part
  modoboa/webmail/lib/utils.py
  modoboa/webmail/tests/test_utils.py
Due: pylint

fix(frontend): convert the message when switching the editor format
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/utils/bodyFormat.js
  frontend/src/views/webmail/ForwardEmailView.vue
  frontend/src/views/webmail/ReplyEmailView.vue
Due: prettier, eslint

refactor(webmail): convert the editor content on the server
  frontend/src/api/webmail.js
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/utils/bodyFormat.js
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_convert.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

feat(webmail): signature position and RFC 3676 separator
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/lib/signature.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_signature.py
Due: pylint, prettier, eslint

feat(webmail): better quoting of replies and forwards
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/tests/test_convert.py
  modoboa/webmail/tests/test_modifiers.py
  modoboa/webmail/tests/test_utils.py
Due: pylint

fix(webmail): keep Bcc in the copies of the messages sent
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_sent_copy.py
Due: pylint

feat(webmail): keep the names of the recipients
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_recipients.py
Due: pylint, prettier, eslint

fix(webmail): recognize localized reply and forward subject prefixes
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_modifiers.py
Due: pylint

feat(webmail): send plain text as format=flowed
  modoboa/webmail/lib/flowed.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/tests/test_flowed.py
  modoboa/webmail/tests/test_modifiers.py
Due: pylint

feat(frontend): images, tables, text styles and links in the HTML editor
  frontend/package.json
  frontend/src/components/tools/HtmlEditor.vue
  frontend/yarn.lock
Due: prettier, eslint

fix(admin): enforce domain/domain alias namespace and sync generated records
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v1/tests.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/handlers.py
  modoboa/admin/models/domain.py
  modoboa/admin/models/domain_alias.py
  modoboa/admin/tests/test_domain_alias.py
  modoboa/admin/tests/test_import_.py
  modoboa/amavis/handlers.py
  modoboa/amavis/lib.py
  modoboa/amavis/tests/test_handlers.py
Due: pylint

fix(relaydomains): check permissions and limits on relay domain import
  modoboa/relaydomains/lib.py
  modoboa/relaydomains/tests.py
Due: pylint

fix(admin): close remaining domain/domain alias namespace bypasses
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v1/tests.py
  modoboa/admin/apps.py
  modoboa/admin/checks.py
  modoboa/admin/handlers.py
  modoboa/admin/models/domain.py
  modoboa/admin/models/domain_alias.py
  modoboa/admin/tests/test_domain_alias.py
  modoboa/amavis/tests/test_handlers.py
  modoboa/relaydomains/api/v1/serializers.py
  modoboa/relaydomains/api/v1/tests.py
  modoboa/relaydomains/lib.py
  modoboa/relaydomains/tests.py
Due: pylint

fix(admin): enforce domain namespace from persisted state and sync routes
  modoboa/admin/checks.py
  modoboa/admin/handlers.py
  modoboa/admin/jobs.py
  modoboa/admin/lib.py
  modoboa/admin/management/commands/subcommands/_repair.py
  modoboa/admin/models/domain.py
  modoboa/admin/models/domain_alias.py
  modoboa/admin/tests/test_domain.py
  modoboa/admin/tests/test_domain_alias.py
Due: pylint

fix(webmail): better handling of message format (#4265)
  frontend/src/api/webmail.js
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/views/webmail/ForwardEmailView.vue
  frontend/src/views/webmail/ReplyEmailView.vue
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_convert.py
  modoboa/webmail/tests/test_modifiers.py
  modoboa/webmail/tests/test_utils.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): compose quality (#4266)
  frontend/package.json
  frontend/src/components/tools/HtmlEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/yarn.lock
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/lib/flowed.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/signature.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_convert.py
  modoboa/webmail/tests/test_flowed.py
  modoboa/webmail/tests/test_modifiers.py
  modoboa/webmail/tests/test_recipients.py
  modoboa/webmail/tests/test_sent_copy.py
  modoboa/webmail/tests/test_signature.py
  modoboa/webmail/tests/test_utils.py
Due: pylint, prettier, eslint

fix: handle single-condition Sieve tests in FilterSerializer.from_filters
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint

perf(webmail): speed up the subscriptions dialog with big hierarchies
  frontend/src/components/webmail/SubscriptionsDialog.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

perf(webmail): speed up the subscriptions dialog with big hierarchies (#4270)
  frontend/src/components/webmail/SubscriptionsDialog.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): message body blank in Chromium (#4218)
  frontend/src/components/webmail/EmailMessageBody.vue
Due: prettier, eslint

fix(admin): prevent domain admins from taking over privileged accounts
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v1/viewsets.py
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/migrations/0025_revoke_access_on_privileged_accounts.py
  modoboa/admin/models/mailbox.py
  modoboa/admin/tests/test_privileged_accounts.py
  modoboa/core/constants.py
  modoboa/core/models.py
  modoboa/lib/permissions.py
Due: pylint

chore: Update JS packages
  frontend/yarn.lock
Due: none

feat(deploy): add --redisurl option for Redis on a unix socket
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/tests/test_deploy_redis.py
Due: pylint

feat(deploy): keep database OPTIONS (e.g. SSL) from --dburl in settings.py
  modoboa/core/commands/deploy.py
  modoboa/core/tests/test_deploy.py
Due: pylint

Updated documentation
  doc-ng/installation/upgrade.md
Due: none

fix(admin): never leave a mailbox blocked by a pending rename operation
  modoboa/admin/jobs.py
  modoboa/admin/tests/test_mailbox_operations.py
Due: pylint
