Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslintrc.js --ignore-pattern modoboa/* --fix
  additional_dependencies:
  - eslint-plugin-vue

add unix socket scheme and fix RQ_QUEUES
  modoboa/core/commands/templates/settings.py.tpl
Due: none

add redis socket use
  doc/upgrade.rst
Due: none

specify not to use with installer
  doc/upgrade.rst
Due: none

Update LoginForm.vue with Refactored Code
  frontend/src/components/login/LoginForm.vue
Due: none

Update login.html
  modoboa/templates/registration/login.html
Due: none

Added Webautn login
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/middleware.py
  modoboa/core/models.py
  modoboa/core/views/auth.py
  modoboa/static/js/webauthn-json.browser-ponyfill.js
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint, prettier, eslint

Make sure to use local address when generating offlineimap config
  modoboa/imap_migration/templates/imap_migration/offlineimap.conf
Due: none

Updated documentation
  doc/moving.rst
Due: none

Doc fixes
  doc/moving.rst
Due: none

Few updates
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/static/css/modoboa.png
Due: none

New style for old login page
  modoboa/core/forms.py
  modoboa/core/templatetags/core_tags.py
  modoboa/static/css/modoboa-white.png
  modoboa/static/css/offline.css
  modoboa/templates/registration/base.html
  modoboa/templates/registration/login.html
  modoboa/templates/registration/password_reset_complete.html
  modoboa/templates/registration/password_reset_confirm.html
  modoboa/templates/registration/password_reset_done.html
  modoboa/templates/registration/password_reset_form.html
  test_project/test_project/settings.py
Due: pylint

Removed SORBS dnsbl
  modoboa/admin/constants.py
Due: pylint

Added upgrade instruction
  doc/upgrade.rst
Due: none

Added customization to webauthn keys
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/plugins/filters.js
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/views.py
  modoboa/core/api/v2/viewsets.py
Due: pylint, prettier, eslint

Updated key view, add webauthn-json
  frontend/package.json
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/tools/ConfirmDialog.vue
  frontend/yarn.lock
Due: none

Updated hooks, updated deps
  .pre-commit-config.yaml
  frontend/package.json
  frontend/yarn.lock
Due: none

Updated hooks v2
  .pre-commit-config.yaml
  frontend/.eslint.conf.js
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/gettext.config.js
  frontend/gettext.config.json
Due: prettier, eslint

lint test
  .pre-commit-config.yaml
  frontend/.eslint.conf.js
  frontend/package.json
  frontend/src/components/account/FidoAuthForm.vue
  frontend/yarn.lock
Due: prettier, eslint

Updated 2FA forms
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/TwoFactorAuthForm.vue
  frontend/src/stores/auth.store.js
  frontend/src/views/account/SettingsView.vue
Due: prettier, eslint

Improved login process
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/constants.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/urls.py
  modoboa/core/views/__init__.py
  modoboa/core/views/auth.py
  modoboa/static/css/offline.css
  modoboa/templates/registration/twofactor_code_verify.html
  test_project/test_project/settings.py
Due: pylint

Compatibility with OIDC workflow
  modoboa/core/forms.py
  modoboa/core/views/auth.py
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint

Cleanup
  modoboa/core/api/v2/viewsets.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/middleware.py
  test_project/test_project/settings.py
Due: pylint

Added webauthn_enabled
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/FidoRegistrationDialog.vue
  modoboa/admin/api/v1/serializers.py
  modoboa/core/api/v1/serializers.py
  modoboa/core/api/v1/viewsets.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/migrations/0029_rename_tfa_enabled_user_totp_enabled_and_more.py
  modoboa/core/models.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/tests/test_viewsets.py
  modoboa/core/views/auth.py
  modoboa/core/views/user.py
Due: pylint

Updated build mechanism
  doc/contributing/getting_started.rst
  docker-compose.yml
  pyproject.toml
  setup.py
Due: pylint

Updated github workflow
  .github/workflows/modoboa.yml
Due: none

Allow to enable only webauthn
  frontend/public/config.json
  frontend/src/api/auth.js
  frontend/src/components/account/BackupCodeAuthForm.vue
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/TotpAuthForm.vue
  frontend/src/components/tools/ConfirmDialog.vue
  frontend/src/stores/auth.store.js
  frontend/src/views/account/SettingsView.vue
  modoboa/core/api/v1/serializers.py
  modoboa/core/api/v1/viewsets.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/views/auth.py
Due: pylint, prettier, eslint

Added new API methods and updated frontend
  docker-compose.yml
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  requirements.txt
Due: pylint, prettier, eslint

Added features
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/lib/exceptions.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
Due: pylint, prettier, eslint

Deal with boolean values for argument
  frontend/src/components/account/FilterForm.vue
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$
  eslint: any of: \.(js|mjs|cjs)$
