Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Fixed several security issues.
  modoboa/admin/api/v2/viewsets.py
  modoboa/autoreply/api/v2/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
  modoboa/maillog/api/v2/viewsets.py
  modoboa/transport/api/v2/viewsets.py
Due: pylint

Fixed wrong validation code box mbox property
  modoboa/autoreply/api/v2/serializers.py
  modoboa/autoreply/api/v2/tests.py
Due: pylint

fix: rewrite port detection value
  modoboa/core/management/commands/generate_postfix_maps.py
  modoboa/core/tests/test_core.py
Due: pylint

chore(deps): update dependancies
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
Due: none

docs: add self signed certificate tips
  doc-ng/installation/dovecot.md
Due: none

Pin chardet version in pyproject.toml
  pyproject.toml
Due: none

fix: handle None from Redis in sent_messages counter
  modoboa/admin/models/mixins.py
Due: pylint

fix: force dash when email is empty
  modoboa/dmarc/lib.py
Due: pylint

Prevent form closing when clicking on Modify link.
  frontend/src/components/tools/CreationSummary.vue
Due: prettier, eslint

Replaced chardet by chardet_normalizer,
  modoboa/admin/management/commands/subcommands/_import.py
  modoboa/amavis/utils.py
  modoboa/lib/email_utils.py
  modoboa/webmail/lib/fetch_parser.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  pyproject.toml
Due: pylint

Compatibility with caldav 3.x
  modoboa/contacts/lib/carddav.py
  pyproject.toml
Due: pylint

refactor: remove six module
  modoboa/dmarc/lib.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/fetch_parser.py
  modoboa/webmail/lib/imapheader.py
Due: pylint

Updated mocks file
  modoboa/calendars/mocks.py
Due: pylint

Updated calendar mock classes.
  modoboa/calendars/mocks.py
Due: pylint

docs: add OPENAPI generator
  doc-ng/.vitepress/config.mjs
  doc-ng/.vitepress/theme/index.mjs
  doc-ng/openapi.json
  doc-ng/openapi/[operationId].md
  doc-ng/openapi/[operationId].paths.mjs
  doc-ng/openapi/index.md
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
  doc-ng/rest_api.md
  doc-ng/tags/[tag].md
  doc-ng/tags/[tag].paths.js
Due: prettier, eslint

Removed useless chapter.
  doc-ng/configuration.md
Due: none

feat: add server on openapi schema
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint

Fix empty Actions dropdown on Domains page
  frontend/src/components/admin/domains/DomainList.vue
Due: prettier, eslint

Make sure domain resources can be viewed/updated from the frontend
  frontend/src/components/admin/domains/DomainEditForm.vue
  frontend/src/views/admin/domains/DomainView.vue
Due: prettier, eslint

Make webmail menu resizable.
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/app_settings.py
  modoboa/webmail/serializers.py
Due: pylint, prettier, eslint

Updated RQ config
  pyproject.toml
  test_project/test_project/settings.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
