Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types: [javascript]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types: [javascript]
        entry: eslint -c frontend/.eslintrc.js --ignore-pattern modoboa/* --fix 
        additional_dependencies: ["eslint-plugin-vue"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Added new API methods and updated frontend
  docker-compose.yml
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  requirements.txt
Due: pylint, prettier, eslint

Added features
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/lib/exceptions.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
Due: pylint, prettier, eslint

Deal with boolean values for argument
  frontend/src/components/account/FilterForm.vue
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint

Improved UI
  frontend/src/components/account/FilterForm.vue
  frontend/src/components/account/FilterSetForm.vue
  frontend/src/router/index.js
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint, prettier, eslint

Added raw mode selector
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Improved raw mode and added new filter ops
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Fetch user mailboxes using IMAP
  frontend/src/components/account/FilterForm.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  modoboa/lib/viewsets.py
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/sievefilters/constants.py
  modoboa/sievefilters/imaputils.py
Due: pylint, prettier, eslint

Added unit tests
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
  modoboa/sievefilters/tests.py
Due: pylint

Update npm packages on docker starts
  docker-compose.yml
  docker/.Dockerfile.front.dev.kate-swp
Due: none

removed useless file
  docker/.Dockerfile.front.dev.kate-swp
Due: none

Removed old translations
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/translations.json
  frontend/src/locale/zh/app.po
Due: none

POC OIDC
  docker-compose.yml
  frontend/src/components/login/LoginForm.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
  frontend/src/views/login/LoginView.vue
  test_project/oidc_key
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Few fixes
  frontend/src/router/index.js
  requirements.txt
Due: prettier, eslint

PoC OIDC frontend
  docker-compose.yml
  frontend/src/components/login/LoginForm.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
  frontend/src/views/login/LoginView.vue
  test_project/oidc_key
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

added documentation for devs
  doc/contributing/getting_started.rst
Due: none

Better login/logout actions
  docker-compose.yml
  frontend/src/App.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  requirements.txt
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Better login process
  frontend/src/api/repository.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
Due: prettier, eslint

Fixed token retrieval
  frontend/src/api/repository.js
Due: prettier, eslint

Avoid useless API calls
  frontend/src/layouts/dashboard/NavBar.vue
Due: none

Fixed wrong redirection
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
Due: prettier, eslint

Few updates
  frontend/public/config.json
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/main.js
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  requirements.txt
Due: pylint, prettier, eslint

Attempt to fix deploy
  modoboa/core/commands/deploy.py
  tests.py
Due: pylint

Removed simplejwt related code
  modoboa/core/api/v2/viewsets.py
Due: pylint

Updated workflow
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Updated workflow
  .github/workflows/modoboa.yml
Due: none

Added password for postgres case
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Align database names
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Disabled tests
  modoboa/core/api/v2/tests.py
  tests.py
Due: pylint

Added missing settings
  modoboa/core/tests/test_views.py
Due: pylint

Fixed wrong value
  modoboa/core/tests/test_views.py
Due: pylint

Updated README
  README.rst
Due: none

Fixed README
  README.rst
Due: none

Added Fido API
  .gitignore
  docker-compose.yml
  docker/Dockerfile.dev
  frontend/package.json
  frontend/public/config.json
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/FidoRegistrationDialog.vue
  frontend/src/views/account/APISetupView.vue
  frontend/src/views/account/ForwardView.vue
  frontend/src/views/account/ProfileView.vue
  frontend/src/views/account/SecurityView.vue
  frontend/src/views/account/SettingsView.vue
  frontend/vite.config.js
  frontend/yarn.lock
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
  requirements.txt
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Updated dev reqs
  dev-requirements.txt
  docker/Dockerfile.dev
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/fido2_auth.py
  modoboa/core/models.py
Due: pylint, prettier, eslint

Enabled fido registration on frontend
  doc/contributing/getting_started.rst
  docker/Dockerfile.dev
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
Due: pylint, prettier, eslint

Fixed settings
  frontend/src/layouts/dashboard/NavBar.vue
Due: none

add unix socket scheme and fix RQ_QUEUES
  modoboa/core/commands/templates/settings.py.tpl
Due: none
