Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Fixed incorrect dist path
  .github/workflows/documentation.yml
  .github/workflows/modoboa.yml
  .readthedocs.yml
Due: none

Better menu behavior when clicking on 'set small' btn.
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
Due: prettier, eslint

Some fixes and improvements around the autoconfig service.
  doc-ng/installation/upgrade.md
  modoboa/autoconfig/templates/autoconfig/autoconfig.xml
  modoboa/autoconfig/templates/autoconfig/autodiscover.xml
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/views.py
  modoboa/core/commands/templates/settings.py.tpl
Due: pylint

Removed old documentation
  .github/workflows/documentation.yml
  .github/workflows/modoboa.yml
  .gitignore
  MANIFEST.in
  doc/Makefile
  doc/_static/api_access_form.png
  doc/_static/modoboa_logo.png
  doc/conf.py
  doc/configuration.rst
  doc/contributing.rst
  doc/contributing/getting_started.rst
  doc/contributing/plugin_api.rst
  doc/contributing/translation.rst
  doc/contributors.rst
  doc/index.rst
  doc/installation.rst
  doc/manual_installation/amavis.rst
  doc/manual_installation/dovecot.rst
  doc/manual_installation/modoboa.rst
  doc/manual_installation/opendkim.rst
  doc/manual_installation/postfix.rst
  doc/manual_installation/radicale.rst
  doc/manual_installation/webserver.rst
  doc/moving.rst
  doc/rebuild_virtual_env.rst
  doc/requirements.txt
  doc/rest_api.rst
  doc/upgrade.rst
Due: pylint

Added upgrade instructions for 2.7
  doc-ng/installation/modoboa.md
  doc-ng/installation/upgrade.md
Due: none

Fixed wrong link syntax
  doc-ng/installation/upgrade.md
Due: none

Added new RQ queue for operations requiring root privileges
  doc-ng/installation/modoboa.md
  doc-ng/installation/upgrade.md
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/core/commands/templates/settings.py.tpl
Due: none

Fixed typo modoboa.md
  doc-ng/installation/modoboa.md
Due: none

Make sure migration deletion is working.
  frontend/src/components/admin/imap_migration/MigrationsList.vue
Due: prettier, eslint

Display message even when there is no To field.
  frontend/src/views/webmail/EmailView.vue
  modoboa/webmail/lib/imapemail.py
Due: pylint, prettier, eslint

Removed useless check
  modoboa/webmail/lib/imapemail.py
Due: pylint

Continuation of email scheduling feature
  docker-compose.yml
  frontend/src/api/webmail.js
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailAddressList.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailSchedulingForm.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/plugins/rules.js
  frontend/src/views/webmail/EmailView.vue
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/lib/sysutils.py
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/jobs.py
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0001_initial.py
  modoboa/webmail/migrations/__init__.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/urls.py
  modoboa/webmail/viewsets.py
  test_project/test_project/cron_config.py
Due: pylint, prettier, eslint

Fixed circular import
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/viewsets.py
Due: pylint

Fixed tests
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/viewsets.py
Due: pylint

Improved tests
  modoboa/webmail/factories.py
  modoboa/webmail/jobs.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Set default status
  modoboa/webmail/factories.py
Due: pylint

Fixed wrong use of Enum type
  modoboa/webmail/constants.py
  modoboa/webmail/factories.py
  modoboa/webmail/jobs.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/migrations/0001_initial.py
  modoboa/webmail/models.py
Due: pylint

Updated doveadm path
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Apply dovecot settings also to scheduling test
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Improved coverage
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint
