Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

added changelog to pypi
  CHANGELOG.md
  pyproject.toml
Due: none

Few fixes
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/views/auth.py
  modoboa/templates/registration/login.html
Due: pylint

Updated CI config to access env variable
  .github/workflows/modoboa.yml
Due: none

Do not deploy frontend during tests
  modoboa/core/management/commands/load_initial_data.py
  modoboa/lib/tests/__init__.py
Due: pylint

Updated doc and build mechanism
  doc/conf.py
  doc/contributing/getting_started.rst
  doc/rebuild_virtual_env.rst
  doc/upgrade.rst
  tox.ini
Due: pylint

Fido fixes and updated changelog
  CHANGELOG.md
  frontend/public/config.json
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
Due: pylint, prettier, eslint

Upgrade fronted deps, updated translations
  frontend/gettext.config.cjs
  frontend/gettext.config.json
  frontend/package.json
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/translations.json
  frontend/src/locale/zh/app.po
  frontend/src/stores/auth.store.js
  frontend/yarn.lock
Due: prettier, eslint

Renamed UserFidoKeys to singluar
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
Due: pylint

Fixed codecov
  .github/workflows/modoboa.yml
  codecov.yml
Due: none

Fixed codecov v2
  .github/workflows/modoboa.yml
Due: none

Added documentation for Dovecot setup
  doc/manual_installation/dovecot.rst
Due: none

Updated codecov CI config
  .github/workflows/modoboa.yml
Due: none

Updated codecov badge
  README.rst
Due: none

Fixed dovecot config for oauth2 setup
  doc/contributing/getting_started.rst
  docker-compose.yml
  docker/dovecot_config/dovecot-oauth2.conf.ext
  test_project/test_project/settings.py
Due: pylint

Fixed SaaS errors
  frontend/package.json
  frontend/yarn.lock
Due: none

Added new extension parameters
  modoboa/postfix_autoreply/api/v2/serializers.py
  modoboa/postfix_autoreply/app_settings.py
  modoboa/postfix_autoreply/apps.py
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/app_settings.py
  modoboa/sievefilters/apps.py
Due: pylint

Fixed admin not being able to reset a user password using a random one
  frontend/src/components/admin/identities/AccountEditForm.vue
Due: prettier, eslint

Updated test
  modoboa/parameters/api/v2/tests.py
Due: pylint

Removed old links, clarified doc access
  doc/rest_api.rst
Due: none

Prevent too long usernames (RFC5321)
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
Due: pylint

Fixed test
  modoboa/admin/api/v2/tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
