Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Run tests in 2.3.x maintenance branch
  .github/workflows/modoboa.yml
Due: none

Fixed wrong condition
  .github/workflows/modoboa.yml
Due: none

Make sure to use the right client everywhere
  modoboa/policyd/handlers.py
  modoboa/policyd/tests.py
  modoboa/policyd/utils.py
Due: pylint

Use RQ instead of cron - mailbox ops
  modoboa/admin/jobs.py
  modoboa/admin/management/commands/handle_mailbox_operations.py
  modoboa/admin/models/mailbox.py
  modoboa/admin/tests/test_mailbox_operations.py
  pyproject.toml
  test_project/test_project/settings.py
Due: pylint

Changed rrdtool-bindings
  pyproject.toml
Due: none

Remove wrong changes to docker compose file
  docker-compose.yml
Due: none

WIP: Webmail
  .gitignore
  frontend/package.json
  frontend/src/api/webmail.js
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/plugins/filters.js
  frontend/src/router/index.js
  frontend/src/stores/layout.store.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/MailboxView.vue
  frontend/yarn.lock
  modoboa/calendars/apps.py
  modoboa/core/api/v2/viewsets.py
  modoboa/lib/email_utils.py
  modoboa/urls_api_v2.py
  modoboa/webmail/__init__.py
  modoboa/webmail/app_settings.py
  modoboa/webmail/apps.py
  modoboa/webmail/constants.py
  modoboa/webmail/exceptions.py
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/fetch_parser.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/rfc6266.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/signature.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/urls.py
  modoboa/webmail/viewsets.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Added new actions
  frontend/src/api/webmail.js
  frontend/src/views/webmail/EmailView.vue
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Use configured Redis DB also in sentinel mode
  modoboa/policyd/core.py
  modoboa/policyd/utils.py
Due: pylint

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

Improvements about mailbox listing and email display
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/MailboxView.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

More improvements
  docker-compose.yml
  frontend/package.json
  frontend/src/api/webmail.js
  frontend/src/components/tools/HtmlEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/router/index.js
  frontend/src/views/webmail/ComposeEmailView.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ReplyEmailView.vue
  frontend/yarn.lock
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Only symlink to frontend directory contents instead of copying them
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Add test for frontend directory contents after calling `load_initial_data`
  modoboa/core/tests/test_core.py
Due: pylint

Allow running tests with locally running Redis instance
  modoboa/admin/api/v2/tests.py
  modoboa/admin/tests/test_domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/admin/tests/utils.py
  test_project/test_project/settings.py
  tox.ini
Due: pylint

Allow running tests without installed LDAP package
  modoboa/admin/tests/test_need_dovecot_update.py
  modoboa/admin/tests/utils.py
  tox.ini
Due: pylint

Allow running tests without network access
  modoboa/core/tests/test_views.py
  modoboa/core/tests/utils.py
Due: pylint

Adding missing django-extensions test dependency
  pyproject.toml
Due: none

Prevent numbers used in templates as part of JavaScript or CSS from locale-aware formatting applied if `USE_THOUSANDS_SEPARATOR` is True
  modoboa/templates/common/buttons_list.html
  modoboa/templates/common/menulist.html
  modoboa/templates/common/progressbar.html
  modoboa/templates/common/wizard_forms.html
  modoboa/templates/nlayout.html
Due: none

Use `redis.from_url`, rather than the seperate fields in Modoboa policyd
  modoboa/policyd/utils.py
Due: pylint

Fix annoying OIDC_RSA_PRIVATE_KEY test warning
  test_project/manage.py
  tox.ini
Due: pylint

New webmail features.
  .gitignore
  docker-compose.yml
  frontend/src/api/webmail.js
  frontend/src/components/tools/HtmlEditor.vue
  frontend/src/components/webmail/AttachmentsDialog.vue
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/ContactCard.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxForm.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/router/index.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ForwardEmailView.vue
  frontend/src/views/webmail/ReplyEmailView.vue
  modoboa/lib/redis.py
  modoboa/policyd/handlers.py
  modoboa/policyd/tests.py
  modoboa/policyd/utils.py
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/urls.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Various fixes
  frontend/package.json
  frontend/src/components/webmail/ContactCard.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/yarn.lock
Due: prettier, eslint

Fixed tests
  modoboa/parameters/api/v2/tests.py
Due: pylint
