Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

fix: use force flag to install vitepress on RTD (#4033)
  .readthedocs.yml
Due: none

fix: folder for node module on RTD builder
  .readthedocs.yml
Due: none

fix: folder for node module on RTD builder (#4034)
  .readthedocs.yml
Due: none

Frontend: Node 22 and package updates
  .github/workflows/frontend.yml
  .github/workflows/modoboa.yml
  docker/Dockerfile.front.dev
  frontend/package.json
  frontend/yarn.lock
Due: none

chore(deps): update lock file
  doc-ng/pnpm-lock.yaml
Due: none

chore(deps): update lock file (#4036)
  doc-ng/pnpm-lock.yaml
Due: none

Possibility to custom logos directly from the UI.
  frontend/.nvmrc
  frontend/src/api/theme.js
  frontend/src/components/tools/ImageFieldWidget.vue
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/composables/logos.js
  frontend/src/composables/theme.js
  frontend/src/views/admin/ParametersView.vue
  frontend/vite.config.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/app_settings.py
  modoboa/core/context_processors.py
  modoboa/core/signals.py
  modoboa/core/templatetags/core_tags.py
Due: pylint, prettier, eslint

Added tests
  modoboa/core/api/v2/tests.py
  modoboa/core/tests/test_authentication.py
  test_project/test_project/settings.py
Due: pylint

Revert wrong changes
  test_project/test_project/settings.py
Due: pylint

Fixed frontend issues
  frontend/src/components/tools/ColorField.vue
  frontend/src/components/tools/ParametersForm.vue
  frontend/vite.config.js
Due: prettier, eslint

Fixed IDOR vulnerability in change password API endpoint.
  modoboa/admin/api/v1/tests.py
  modoboa/admin/api/v1/viewsets.py
Due: pylint

Updated doc
  doc-ng/installation/upgrade.md
Due: none

Update load_initial_data.py
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fix empty Actions dropdown on Domains page
  frontend/src/components/admin/domains/DomainList.vue
Due: prettier, eslint

Use bulk_delete API endpoint instead of per-domain calls
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainList.vue
  modoboa/admin/api/v2/viewsets.py
Due: pylint, prettier, eslint

chore: update metadata and contributing file
  CONTRIBUTING.md
  CONTRIBUTING.rst
  pyproject.toml
Due: none

fix: retrieve version when not installed as package
  modoboa/__init__.py
Due: pylint

ci: add test for version
  modoboa/core/tests/test_version.py
Due: pylint

Added references to Modoboa Pro
  README.rst
  doc-ng/.vitepress/config.mjs
Due: prettier, eslint

Don’t depend on running Redis for caching when executing tests
  test_project/test_project/settings.py
Due: pylint

Fixed 2 IDOR issues in calendar component
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint

Add support for systemd socket activation in Modoboa policy daemon
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Add tests for socket activation and socket listener
  modoboa/policyd/tests.py
Due: pylint

Allow policy daemon to bind to Unix domain socket, rather than TCP
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint
