Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Deal with boolean values for argument
  frontend/src/components/account/FilterForm.vue
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint, prettier, eslint

Improved UI
  frontend/src/components/account/FilterForm.vue
  frontend/src/components/account/FilterSetForm.vue
  frontend/src/router/index.js
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint, prettier, eslint

Improved raw mode and added new filter ops
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Added raw mode selector
  frontend/src/api/account.js
  frontend/src/components/account/FilterForm.vue
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Added unit tests
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
  modoboa/sievefilters/tests.py
Due: pylint

Fetch user mailboxes using IMAP
  frontend/src/components/account/FilterForm.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  modoboa/lib/viewsets.py
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/sievefilters/constants.py
  modoboa/sievefilters/imaputils.py
Due: pylint, prettier, eslint

removed useless file
  docker/.Dockerfile.front.dev.kate-swp
Due: none

Update npm packages on docker starts
  docker-compose.yml
  docker/.Dockerfile.front.dev.kate-swp
Due: none

Few fixes
  frontend/src/router/index.js
  requirements.txt
Due: prettier, eslint

PoC OIDC frontend
  docker-compose.yml
  frontend/src/components/login/LoginForm.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
  frontend/src/views/login/LoginView.vue
  test_project/oidc_key
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Better login/logout actions
  docker-compose.yml
  frontend/src/App.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  requirements.txt
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

added documentation for devs
  doc/contributing/getting_started.rst
Due: none

Fixed token retrieval
  frontend/src/api/repository.js
Due: prettier, eslint

Better login process
  frontend/src/api/repository.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
Due: prettier, eslint

Fixed wrong redirection
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
Due: prettier, eslint

Avoid useless API calls
  frontend/src/layouts/dashboard/NavBar.vue
Due: prettier, eslint

Few updates
  frontend/public/config.json
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/main.js
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  requirements.txt
Due: pylint, prettier, eslint

Attempt to fix deploy
  modoboa/core/commands/deploy.py
  tests.py
Due: pylint

Removed simplejwt related code
  modoboa/core/api/v2/viewsets.py
Due: pylint

Updated workflow
  .github/workflows/modoboa.yml
Due: none
