Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

fix(relaydomains): validate transport settings on CSV import
  modoboa/relaydomains/lib.py
  modoboa/relaydomains/tests.py
Due: pylint

fix(imap_migration): reject control characters in migration credentials
  modoboa/imap_migration/auth_backends.py
  modoboa/imap_migration/tests.py
Due: pylint

fix(ldapsync): harden generated dovecot LDAP configuration file
  modoboa/ldapsync/lib.py
  modoboa/ldapsync/tests.py
Due: pylint

feat(policy): Allow policy daemon to listen on Unix domain socket and systemd socket activation (#3677)
  modoboa/policyd/management/commands/policy_daemon.py
  modoboa/policyd/tests.py
Due: pylint

feat(core,admin,webmail): add doveadm HTTP API support
  doc-ng/configuration.md
  doc-ng/installation/dovecot.md
  doc-ng/installation/upgrade.md
  modoboa/admin/app_settings.py
  modoboa/admin/models/mailbox.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/password_hashers/utils.py
  modoboa/lib/dovecot.py
  modoboa/lib/tests/test_dovecot.py
  modoboa/webmail/models.py
  test_project/test_project/settings.py
Due: pylint

fix(lib): make rest mode schemes test independent from existing alarms
  modoboa/lib/tests/test_dovecot.py
Due: pylint

feat(core,admin,webmail): add doveadm HTTP API support (#4083)
  doc-ng/configuration.md
  doc-ng/installation/dovecot.md
  doc-ng/installation/upgrade.md
  modoboa/admin/app_settings.py
  modoboa/admin/models/mailbox.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/password_hashers/utils.py
  modoboa/lib/dovecot.py
  modoboa/lib/tests/test_dovecot.py
  modoboa/webmail/models.py
  test_project/test_project/settings.py
Due: pylint

Update tests after the fix for autoconfig
  modoboa/autoconfig/tests.py
Due: pylint

fix(admin): don't re-validate domain quota when quota is unchanged
  modoboa/admin/api/v2/tests.py
  modoboa/admin/models/mailbox.py
Due: pylint

fix(admin): don't re-validate domain quota when quota is unchanged (#4086)
  modoboa/admin/api/v2/tests.py
  modoboa/admin/models/mailbox.py
Due: pylint

refactor(admin): use queryset delete in accounts bulk_delete
  modoboa/admin/api/v2/viewsets.py
Due: pylint

refactor(admin): use queryset delete in accounts bulk_delete (#4087)
  modoboa/admin/api/v2/viewsets.py
Due: pylint

Update test case that only showed up after the merge with upstream
  modoboa/autoconfig/tests.py
Due: pylint

fix(autoconfig): Thunderbird Mobile Autoconfig changes (#4074)
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/views.py
Due: pylint

fix(api): add quota_usage to IdentitySerializer for sortable Quota column
  modoboa/admin/api/v2/serializers.py
Due: pylint

fix(admin): enable ordering by quota_usage on accounts endpoint
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
Due: pylint

security: use defusedxml to protect against XML attacks (#1556)
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/views.py
  modoboa/contacts/lib/carddav.py
  modoboa/contacts/tests.py
Due: pylint

fix(admin): enable ordering by quota_usage on accounts endpoint (#4093)
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
Due: pylint

Expose quota usage in the identities API so the Quota column sorts
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/lib.py
Due: pylint

fix(webmail): lazy-load contacts models to allow disabling contacts app
  modoboa/webmail/lib/imapemail.py
Due: pylint

fix(webmail): lazy-load contacts models to allow disabling contacts app (#4096)
  modoboa/webmail/lib/imapemail.py
Due: pylint

fix: allow rq>=2.10.0 with django-rq>=4.1.1 (#4088)
  modoboa/core/tests/test_cron_config.py
  pyproject.toml
Due: pylint

Fix lint: remove unused import, use packaging.version for robustness
  modoboa/core/tests/test_cron_config.py
Due: pylint

fix(api): expose identity quota usage
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
Due: pylint

Wording
  doc-ng/installation/upgrade.md
Due: none

django-rq 4.1.1
  pyproject.toml
Due: none

fix(admin): avoid integer overflow in quota_usage annotation on PostgreSQL
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
Due: pylint

fix(admin): avoid integer overflow in quota_usage annotation on PostgreSQL (#4099)
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
Due: pylint

Add missing documentation for `EMAIL_CLIENT_CONNECTION_SETTINGS`
  modoboa/core/commands/templates/settings.py.tpl
Due: none

Support Thunderbird placeholders in all auto-discover responses
  modoboa/autoconfig/views.py
Due: pylint

feat: Allow passing standard arguments to RQ job handler functions wrapping `call_command`
  modoboa/amavis/jobs.py
  modoboa/calendars/jobs.py
  modoboa/core/jobs.py
  modoboa/maillog/jobs.py
Due: pylint

feat(maillog): Add ability to specify post-task command-line to execute after finishing log parsing
  modoboa/maillog/management/commands/logparser.py
  modoboa/maillog/tests/test_views.py
Due: pylint

feat(admin): Allow generating DKIM keys without restricted permissions
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/tests/test_domain.py
  modoboa/lib/sysutils.py
Due: pylint

fix(deps): restrict rq version to <2.10.0 to prevent crash
  pyproject.toml
Due: none

fix(admin): allow editing username in account edit form
  frontend/src/components/admin/identities/form_steps/AccountMailboxForm.vue
Due: prettier, eslint

fix(admin): allow editing username in account edit form (#4110)
  frontend/src/components/admin/identities/form_steps/AccountMailboxForm.vue
Due: prettier, eslint

chore: auto-sync from VM - 2026-07-17T01:23:25Z
  test_project/cache/1a4e86bf0412d251edbb6fcf2f26a3df.djcache
  test_project/cache/2ad65e0871d79b0da8195b91a7328722.djcache
  test_project/cache/566d51361acaf4f85a637d861e7874b6.djcache
  test_project/cache/7657e4ef408c935f8a88df36af9e35f7.djcache
  test_project/cache/8b51a3b9b3e0f7272793b417a49e165a.djcache
  test_project/cache/9160e1979cf7040f4ca7b50d5f550d1a.djcache
  test_project/cache/d048f5d7dbdd4656d3b345c762eb9b5c.djcache
  test_project/cache/d3373a2ef7a26afa7bef152e58039a43.djcache
Due: none

fix(core): use authentication classes instead of permission class for SERVE_AUTHENTICATION (refs #4102)
  doc-ng/installation/upgrade.md
  modoboa/core/api/v2/tests.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint

chore: remove committed .djcache files and ignore cache dir
  test_project/.gitignore
  test_project/cache/1a4e86bf0412d251edbb6fcf2f26a3df.djcache
  test_project/cache/2ad65e0871d79b0da8195b91a7328722.djcache
  test_project/cache/566d51361acaf4f85a637d861e7874b6.djcache
  test_project/cache/7657e4ef408c935f8a88df36af9e35f7.djcache
  test_project/cache/8b51a3b9b3e0f7272793b417a49e165a.djcache
  test_project/cache/9160e1979cf7040f4ca7b50d5f550d1a.djcache
  test_project/cache/d048f5d7dbdd4656d3b345c762eb9b5c.djcache
  test_project/cache/d3373a2ef7a26afa7bef152e58039a43.djcache
Due: none

chore: remove accidentally committed djcache files
  .gitignore
Due: none
