Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Upgraded frontend dependencies.
  frontend/package.json
  frontend/yarn.lock
Due: none

Allow multiple recipients in "To" field when composing email
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
Due: prettier, eslint

Properly display associated domains when editing provider
  docker/Dockerfile.front.dev
  frontend/src/components/admin/imap_migration/form_steps/ProviderAssociatedForm.vue
Due: prettier, eslint

Disable check when radicale related plugins are missing.
  modoboa/core/checks.py
  modoboa/core/tests/test_checks.py
Due: pylint

Ensure compatibility with caldav > 2.1
  modoboa/calendars/backends/caldav_.py
  pyproject.toml
Due: pylint

Added possibility to Drag&Drop message selection between folders.
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/stores/bus.store.js
  frontend/src/stores/index.js
  frontend/src/stores/webmail.store.js
  frontend/yarn.lock
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Few fixes
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/yarn.lock
Due: prettier, eslint

Replaced select by autocomplete to allow search on domain name
  frontend/src/components/admin/domains/DomainAliasForm.vue
Due: prettier, eslint

Added possibility to deactivate active filter set.
  frontend/src/api/account.js
  frontend/src/views/account/FiltersView.vue
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Added test
  modoboa/sievefilters/api/v2/tests.py
Due: pylint

Better handling of negative datetime timezone offsets.
  docker-compose.yml
  frontend/src/components/account/AutoReplyForm.vue
  frontend/src/views/account/SettingsView.vue
  modoboa/autoreply/models.py
Due: pylint, prettier, eslint

Removed debug statement
  frontend/src/components/account/AutoReplyForm.vue
Due: prettier, eslint

Send UTC datetimes when creating/updating events in Calendar
  frontend/src/components/calendars/EventForm.vue
Due: prettier, eslint

Various fixes in IMAP migration pages.
  frontend/src/components/admin/imap_migration/ProviderCreationForm.vue
  frontend/src/components/admin/imap_migration/ProvidersList.vue
  frontend/src/components/admin/imap_migration/form_steps/ProviderAssociatedForm.vue
  frontend/src/stores/domains.store.js
  modoboa/imap_migration/api/v2/serializers.py
Due: pylint, prettier, eslint

Better unicity constraint check on provider creation
  modoboa/imap_migration/api/v2/serializers.py
  modoboa/imap_migration/tests.py
Due: pylint

Replaced call to deprecated caldav method.
  modoboa/calendars/backends/caldav_.py
Due: pylint

Enabled server-side expansion of reccuring events.
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/mocks.py
Due: pylint

Fixed issues with with Provider domains edition.
  frontend/src/components/admin/imap_migration/ProviderForm.vue
  frontend/src/components/admin/imap_migration/ProvidersList.vue
  frontend/src/components/admin/imap_migration/form_steps/ProviderAssociatedForm.vue
Due: prettier, eslint

Reset addressbook sync status when sync is disabled.
  modoboa/contacts/serializers.py
Due: pylint

New asynchronous way to synchronize from addressbook.
  frontend/src/components/contacts/ContactList.vue
  frontend/src/views/contacts/AddressBook.vue
  modoboa/contacts/migrations/0008_addressbook_syncing.py
  modoboa/contacts/models.py
  modoboa/contacts/serializers.py
  modoboa/contacts/tasks.py
  modoboa/contacts/viewsets.py
Due: pylint, prettier, eslint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
