Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Make sure to use ISO based weeks in every case.
  modoboa/dmarc/lib.py
Due: pylint

Use django authentication function to check password.
  modoboa/admin/api/v1/tests.py
  modoboa/admin/tests/test_import_.py
  modoboa/core/api/v1/serializers.py
  modoboa/core/api/v2/serializers.py
  modoboa/imap_migration/auth_backends.py
Due: pylint

Prevent OS command injection using exec_cmd()
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/jobs.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/models/mailbox.py
  modoboa/amavis/lib.py
  modoboa/core/password_hashers/utils.py
  modoboa/lib/sysutils.py
  modoboa/maillog/graphics.py
  modoboa/webmail/models.py
Due: pylint

Added shell=True arg
  tests.py
Due: pylint

Make sure all args are strings
  modoboa/amavis/lib.py
  modoboa/webmail/models.py
Due: pylint

Removed all shell=True from command executions.
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/amavis/lib.py
  modoboa/lib/sysutils.py
  modoboa/maillog/graphics.py
Due: pylint

Use list everywhere.
  modoboa/lib/sysutils.py
  tests.py
Due: pylint

Added debug
  tests.py
Due: pylint

Removed shell=True
  tests.py
Due: pylint

Removed debug
  tests.py
Due: pylint

Make graphics rendering work again after change to Popen execution mode.
  modoboa/maillog/graphics.py
Due: pylint

Removed shell=True
  modoboa/maillog/graphics.py
Due: pylint

Compatibility fix for chardet 6.x
  modoboa/amavis/utils.py
Due: pylint

Added last DNS checks execution date to Domain model.
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/jobs.py
  modoboa/admin/migrations/0024_domain_last_dns_check_execution.py
  modoboa/admin/models/domain.py
  modoboa/admin/tests/test_mx.py
Due: pylint, prettier, eslint

Updated frontend deps
  frontend/package.json
  frontend/yarn.lock
Due: none

Do not load message from Drafts folder when replying.
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/constants.json
  frontend/src/views/webmail/EmailView.vue
Due: prettier, eslint

Better error message.
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imaputils.py
Due: pylint, prettier, eslint

fix: prevent http 401 on API
  .gitignore
  doc-ng/installation/upgrade.md
  modoboa/core/commands/templates/settings.py.tpl
Due: none

chore: fix typo
  doc-ng/installation/upgrade.md
Due: none

fix: force dash when email is empty
  modoboa/dmarc/lib.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
