Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

fix(webmail): separate the listing mode from the pagination
  frontend/src/components/webmail/EmailList.vue
Due: prettier, eslint

fix(webmail): don't render messages as conversations while loading
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/ThreadListItem.vue
Due: prettier, eslint

feat(webmail): switch the message list to conversations
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailListItem.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/stores/webmail.store.js
Due: prettier, eslint

feat(webmail): make the messages list readable at a glance
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailListItem.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/styles/main.scss
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_dates.py
Due: pylint, prettier, eslint

fix(webmail): keep every view clear of the top menu
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/connected/ConnectedView.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/views/webmail/MailboxView.vue
Due: prettier, eslint

feat(webmail): offer to display blocked remote images
  frontend/src/components/webmail/RemoteContentBanner.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): describe attachments from the body structure
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_attachment_names.py
Due: pylint

feat(webmail): lay out the sender, recipients and attachments together
  frontend/src/components/webmail/AddressButton.vue
  frontend/src/components/webmail/AttachmentList.vue
  frontend/src/components/webmail/MessageHeader.vue
  frontend/src/styles/main.scss
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): add a listing mode preference
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_threads.py
Due: pylint

feat(webmail): redesign the message and conversation headers
  frontend/src/styles/main.scss
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

refactor(webmail): load conversation bodies from the open panels
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): open a conversation of one message as a message
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): align the listing toolbar with the list
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): list messages as threads
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_threads.py
  modoboa/webmail/viewsets.py
Due: pylint

feat(webmail): return every header the message view displays
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_dates.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): let the listing fill the room under its toolbar
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
  frontend/src/views/webmail/MailboxView.vue
Due: prettier, eslint

feat(webmail): show the bulk actions only when messages are selected
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): show attachments as cards
  frontend/src/components/webmail/AttachmentList.vue
  frontend/src/styles/main.scss
  frontend/src/utils.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

feat(webmail): add a conversation view
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailMessageBody.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/router/index.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
Due: prettier, eslint

fix(webmail): stop listing embedded images as attachments
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_bodystructure.py
Due: pylint

feat(webmail): widen the listing search field
  frontend/src/styles/main.scss
Due: none

fix(webmail): indent the messages of an expanded conversation less
  frontend/src/styles/main.scss
Due: none

feat(webmail): always display embedded images
  modoboa/lib/email_utils.py
  modoboa/lib/tests/sample_messages/multipart-output-html_nolinks.txt
  modoboa/lib/tests/test_links_images.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_imapemail.py
Due: pylint

fix(webmail): don't group unrelated messages into a conversation
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/test_threads.py
Due: pylint

fix(webmail): widen the date column and show the conversation control
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): conversation view and message display redesign (#4212)
  frontend/src/api/webmail.js
  frontend/src/components/webmail/AddressButton.vue
  frontend/src/components/webmail/AttachmentList.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/EmailListItem.vue
  frontend/src/components/webmail/EmailMessageBody.vue
  frontend/src/components/webmail/MessageHeader.vue
  frontend/src/components/webmail/RemoteContentBanner.vue
  frontend/src/components/webmail/ThreadListItem.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/connected/ConnectedView.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/webmail.store.js
  frontend/src/styles/main.scss
  frontend/src/utils.js
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/MailboxView.vue
  frontend/src/views/webmail/ThreadView.vue
  modoboa/lib/email_utils.py
  modoboa/lib/tests/sample_messages/multipart-output-html_nolinks.txt
  modoboa/lib/tests/test_links_images.py
  modoboa/webmail/app_settings.py
  modoboa/webmail/constants.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_attachment_names.py
  modoboa/webmail/tests/test_bodystructure.py
  modoboa/webmail/tests/test_dates.py
  modoboa/webmail/tests/test_imapemail.py
  modoboa/webmail/tests/test_threads.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(admin): check domain access on CSV import of domain admins
  modoboa/admin/api/v2/tests.py
  modoboa/admin/handlers.py
Due: pylint

fix(admin): check domain access on CSV import of domain admins (#4214)
  modoboa/admin/api/v2/tests.py
  modoboa/admin/handlers.py
Due: pylint

fix(amavis): honor self_service parameter in self-service authentication
  modoboa/amavis/lib.py
  modoboa/amavis/tests/test_viewsets.py
Due: pylint

fix(amavis): honor self_service parameter in self-service authentication (#4215)
  modoboa/amavis/lib.py
  modoboa/amavis/tests/test_viewsets.py
Due: pylint

fix(amavis): escape and anchor simple user recipient filter
  modoboa/amavis/lib.py
  modoboa/amavis/sql_connector.py
  modoboa/amavis/tests/test_lib.py
  modoboa/amavis/tests/test_viewsets.py
  modoboa/amavis/viewsets.py
Due: pylint

fix(admin): check target access on domain alias CSV import
  modoboa/admin/models/domain_alias.py
  modoboa/admin/tests/test_import_.py
  modoboa/limits/tests/test_import.py
Due: pylint

fix(webmail): display emails without a Date header
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_robustness.py
Due: pylint

fix(webmail): display emails without a Date header (#4219)
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_robustness.py
Due: pylint

fix(webmail): set a timeout on IMAP connections
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_connections.py
Due: pylint

docs: document the introspection uWSGI instance and IMAP timeout
  doc-ng/installation/upgrade.md
Due: none

fix(webmail): don't select a mailbox when toggling its children
  frontend/src/components/webmail/MailboxList.vue
Due: prettier, eslint

test(webmail): cover IMAP timeout on secured connections and UID commands
  modoboa/webmail/tests/test_connections.py
Due: pylint
