Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

build(docker): use the Modoboa rights plugin in Radicale
  doc-ng/contributing/getting_start.md
  docker/Dockerfile.radicale.dev
  docker/radicale_config/config
Due: none

feat(calendars): highlight working hours and grey out weekends
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/layouts/account/AccountLayout.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/app_settings.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/parameters/api/v2/tests.py
Due: pylint, prettier, eslint

feat(calendars): highlight working hours and grey out weekends (#4235)
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/layouts/account/AccountLayout.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/app_settings.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/parameters/api/v2/tests.py
Due: pylint, prettier, eslint

test(calendars): restore UserPreferencesTestCase test data lost in merge
  modoboa/calendars/tests.py
Due: pylint

feat(calendar): calendars rights endpoint (#4238)
  doc-ng/contributing/getting_start.md
  doc-ng/installation/radicale.md
  docker/Dockerfile.radicale.dev
  docker/radicale_config/config
  modoboa/calendars/handlers.py
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/migrations/0007_calendar_name_validator.py
  modoboa/calendars/migrations/0008_rename_duplicate_calendars.py
  modoboa/calendars/migrations/0009_calendar_name_unique_constraints.py
  modoboa/calendars/models.py
  modoboa/calendars/permissions.py
  modoboa/calendars/rights.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint

fix(calendars): accept partial updates of access rules without mailbox
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
Due: pylint

fix(calendars): require read access in calendar access rules
  frontend/src/components/calendars/CalendarAccessRulesForm.vue
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
Due: pylint, prettier, eslint

fix(calendars): access rule validation (#4241)
  frontend/src/components/calendars/CalendarAccessRulesForm.vue
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
Due: pylint, prettier, eslint

feat(calendars): display calendars shared with the user
  frontend/src/api/calendars.js
  frontend/src/components/calendars/CalendarDetail.vue
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/rights.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

feat(calendars): let grantees choose the color and visibility of shared calendars
  frontend/src/api/calendars.js
  frontend/src/components/calendars/SharedWithMeCalendarForm.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/migrations/0010_accessrule_display_settings.py
  modoboa/calendars/models.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

fix(calendars): validate calendar colors and use the theme color field
  frontend/src/components/calendars/CalendarForm.vue
  frontend/src/components/calendars/SharedWithMeCalendarForm.vue
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
Due: pylint, prettier, eslint

feat(calendars): display calendars shared with the user (#4242)
  frontend/src/api/calendars.js
  frontend/src/components/calendars/CalendarDetail.vue
  frontend/src/components/calendars/CalendarForm.vue
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/calendars/SharedWithMeCalendarForm.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/migrations/0010_accessrule_display_settings.py
  modoboa/calendars/models.py
  modoboa/calendars/rights.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

fix(dkim): allow regenerating an existing or missing DKIM key (#4237)
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/models/domain.py
  modoboa/admin/tests/test_domain.py
  modoboa/lib/permissions.py
  modoboa/rspamd/jobs.py
  modoboa/rspamd/tests.py
Due: pylint, prettier, eslint

fix(dkim): allow regenerating an existing or missing DKIM key (#4237) (#4243)
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/api/v2/viewsets.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/models/domain.py
  modoboa/admin/tests/test_domain.py
  modoboa/lib/permissions.py
  modoboa/rspamd/jobs.py
  modoboa/rspamd/tests.py
Due: pylint, prettier, eslint

build(docker): install the Radicale rights plugin from PyPI
  docker/Dockerfile.radicale.dev
Due: none

build(docker): keep the Radicale client secret out of the introspection URL
  docker/Dockerfile.radicale.dev
  docker/radicale_config/config
Due: none

Updated upgrade instructions
  doc-ng/installation/upgrade.md
Due: none

fix(webmail): message body blank in Chromium (#4218)
  frontend/src/components/webmail/EmailMessageBody.vue
Due: prettier, eslint

feat(frontend): highlight Modoboa Pro in the admin menu and Information page
  frontend/src/components/admin/information/ProPromotion.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/shared/NavBarItemAppend.vue
  frontend/src/constants.json
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/plugins.store.js
  frontend/src/views/admin/InformationView.vue
Due: prettier, eslint

style(core): reformat FIDO registration test with black
  modoboa/core/api/v2/tests.py
Due: pylint

feat(core): let plugins expose a menu badge and a status in their manifest
  doc-ng/contributing/plugin_api.md
  modoboa/core/api/v2/serializers.py
  modoboa/core/extensions.py
  modoboa/core/tests/test_extensions.py
Due: pylint

feat(core): add a setting to hide the Modoboa Pro promotion
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/app_settings.py
  modoboa/core/utils.py
  modoboa/lib/tests/__init__.py
Due: pylint

feat(core): Highlight Modoboa Pro in the admin interface (#4253)
  doc-ng/contributing/plugin_api.md
  frontend/src/components/admin/information/ProPromotion.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/shared/NavBarItemAppend.vue
  frontend/src/constants.json
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/plugins.store.js
  frontend/src/views/admin/InformationView.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/app_settings.py
  modoboa/core/extensions.py
  modoboa/core/tests/test_extensions.py
  modoboa/core/utils.py
  modoboa/lib/tests/__init__.py
Due: pylint, prettier, eslint

fix(webmail): keep the whole text of HTML messages in their plain text part
  modoboa/webmail/lib/utils.py
  modoboa/webmail/tests/test_utils.py
Due: pylint

fix(webmail): don't escape the quoted text of plain text replies and forwards
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/tests/test_modifiers.py
Due: pylint

fix(webmail): give the Sent copy the Message-ID of the message sent
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0006_scheduledmessage_message_id.py
  modoboa/webmail/models.py
  modoboa/webmail/tests/test_message_id.py
Due: pylint

fix(webmail): store a new draft version before removing the previous one
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_drafts.py
Due: pylint

fix(webmail): flag the original message of a scheduled reply or forward
  modoboa/webmail/tests/test_flags.py
  modoboa/webmail/viewsets.py
Due: pylint

fix(webmail): scheduling issues in the compose form
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailSchedulingForm.vue
Due: prettier, eslint

fix(webmail): multiples compose fixes (#4254)
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailSchedulingForm.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0006_scheduledmessage_message_id.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_drafts.py
  modoboa/webmail/tests/test_flags.py
  modoboa/webmail/tests/test_message_id.py
  modoboa/webmail/tests/test_modifiers.py
  modoboa/webmail/tests/test_utils.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

ci: speed up the Modoboa App workflow
  .github/workflows/modoboa.yml
Due: none

fix: handle single-condition Sieve tests in FilterSerializer.from_filters
  modoboa/sievefilters/api/v2/serializers.py
Due: pylint

test: run the test suite in parallel
  .github/workflows/modoboa.yml
  modoboa/core/tests/test_ldap.py
  modoboa/ldapsync/tests.py
  modoboa/lib/test_runners.py
  modoboa/policyd/tests.py
  modoboa/rspamd/tests.py
  pyproject.toml
  test_project/test_project/settings.py
Due: pylint

ci: cache the APT packages of the test jobs
  .github/workflows/modoboa.yml
Due: none

ci: run the redis sentinel tests in a job of their own
  .github/workflows/modoboa.yml
Due: none

ci: only test the oldest and newest Python versions on pull requests
  .github/workflows/modoboa.yml
Due: none

fix(frontend): force patched undici and adm-zip versions
  frontend/package.json
  frontend/yarn.lock
Due: none

ci: bump actions/checkout and actions/setup-python to v7
  .github/workflows/documentation.yml
  .github/workflows/frontend.yml
  .github/workflows/modoboa.yml
Due: none

ci: bump upload-artifact, download-artifact and codecov-action
  .github/workflows/modoboa.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
