Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Fixed naming inconsistency between frontend and API.
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/lib.py
  modoboa/admin/tests/test_import_.py
Due: pylint

Updated translation files
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Added new route dedicated to user profile update.
  frontend/src/api/account.js
  frontend/src/stores/auth.store.js
  modoboa/admin/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/viewsets.py
Due: pylint, prettier, eslint

Removed All option from tables using server-side pagination.
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/admin/logs/AuditTrailList.vue
  frontend/src/components/admin/logs/MessageList.vue
  frontend/src/views/admin/domains/DomainsView.vue
Due: prettier, eslint

Enabled i18n support in vuetify
  frontend/src/plugins/vuetify.js
  frontend/src/stores/auth.store.js
Due: prettier, eslint

New command to add allowed hosts to OAuth2 application
  modoboa/core/management/commands/add_allowed_hosts.py
  modoboa/core/tests/test_core.py
Due: pylint

WIP: amavis quarantine frontend
  .dockerignore
  .gitignore
  docker-compose.yml
  docker/Dockerfile.dev
  frontend/src/api/amavis.js
  frontend/src/components/quarantine/QuarantineList.vue
  frontend/src/router/index.js
  frontend/src/views/quarantine/QuarantineView.vue
  modoboa/core/api/v2/viewsets.py
  modoboa/core/management/commands/load_initial_data.py
  modoboa/urls_api_v2.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Various improvements.
  frontend/src/components/quarantine/QuarantineList.vue
  frontend/src/layouts/quarantine/QuarantineLayout.vue
  frontend/src/router/index.js
  frontend/src/views/quarantine/MessageView.vue
Due: prettier, eslint

Allow reading amavis parameters to everyone
  modoboa/parameters/api/v2/viewsets.py
Due: pylint

Improved listing and detail pages
  frontend/src/api/amavis.js
  frontend/src/components/quarantine/QuarantineList.vue
  frontend/src/router/index.js
  frontend/src/views/quarantine/MessageView.vue
  frontend/src/views/quarantine/QuarantineView.vue
  modoboa/lib/email_utils.py
  pyproject.toml
Due: pylint, prettier, eslint

Minor change
  frontend/src/components/quarantine/QuarantineList.vue
Due: prettier, eslint

Fixed settings
  modoboa/test_settings.py
  test_project/test_project/settings.py
Due: pylint

Try quickfix for tests
  modoboa/lib/tests/__init__.py
Due: pylint

Updated base test case classes
  modoboa/lib/tests/__init__.py
  modoboa/policyd/tests.py
Due: pylint

More fixes
  modoboa/core/api/v2/tests.py
  modoboa/lib/tests/__init__.py
  modoboa/parameters/api/v2/tests.py
Due: pylint

Fixed test data
  modoboa/amavis/tests/sample_messages/quarantined-output-plain_nolinks.txt
  modoboa/amavis/tests/test_sql_email.py
Due: pylint

Improved coverage
  modoboa/amavis/constants.py
  modoboa/amavis/lib.py
  modoboa/amavis/tests/test_viewsets.py
Due: pylint

Fixed wrong url
  modoboa/amavis/tests/test_viewsets.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
