Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Fixed load_initial_data
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Updated doc
  doc/upgrade.rst
Due: none

Updated RSA key gen for OIDC
  modoboa/core/checks.py
  modoboa/core/commands/deploy.py
  modoboa/core/utils.py
Due: pylint

Fixed deploy command
  modoboa/core/checks.py
  modoboa/core/checks/__init__.py
  modoboa/core/checks/settings_checks.py
  modoboa/core/utils.py
Due: pylint

Added test for rsa check
  modoboa/core/checks.py
  modoboa/core/tests/test_checks.py
Due: pylint

deployment
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fixed typo
  README.rst
  frontend/src/components/admin/domains/DNSDetail.vue
Due: prettier, eslint

Allow only OAUTHTOKEN for sievefilters
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/app_settings.py
  modoboa/sievefilters/forms.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
Due: pylint

Fixed tests
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/lib.py
Due: pylint

Reverted frontend application deployment, updated tests
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/tests/test_core.py
Due: pylint

Optimized test for RFC5321
  modoboa/admin/api/v2/tests.py
Due: pylint

Frontend fixes after beta4 review
  frontend/src/components/account/FilterForm.vue
  frontend/src/components/admin/domains/DNSDetail.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/AccountEditForm.vue
Due: prettier, eslint

Updated locale files
  modoboa/locale/br/LC_MESSAGES/djangojs.po
  modoboa/locale/cs/LC_MESSAGES/djangojs.po
  modoboa/locale/cs_CZ/LC_MESSAGES/djangojs.po
  modoboa/locale/de/LC_MESSAGES/djangojs.po
  modoboa/locale/de_DE/LC_MESSAGES/djangojs.po
  modoboa/locale/el_GR/LC_MESSAGES/djangojs.po
  modoboa/locale/en/LC_MESSAGES/djangojs.po
  modoboa/locale/es/LC_MESSAGES/djangojs.po
  modoboa/locale/fi/LC_MESSAGES/djangojs.po
  modoboa/locale/fr/LC_MESSAGES/djangojs.po
  modoboa/locale/hu/LC_MESSAGES/djangojs.po
  modoboa/locale/it/LC_MESSAGES/djangojs.po
  modoboa/locale/ja_JP/LC_MESSAGES/djangojs.po
  modoboa/locale/ka/LC_MESSAGES/djangojs.po
  modoboa/locale/nl_NL/LC_MESSAGES/djangojs.po
  modoboa/locale/no/LC_MESSAGES/djangojs.po
  modoboa/locale/pl_PL/LC_MESSAGES/djangojs.po
  modoboa/locale/pt_BR/LC_MESSAGES/djangojs.po
  modoboa/locale/pt_PT/LC_MESSAGES/djangojs.po
  modoboa/locale/ro_RO/LC_MESSAGES/djangojs.po
  modoboa/locale/ru/LC_MESSAGES/djangojs.po
  modoboa/locale/si/LC_MESSAGES/djangojs.po
  modoboa/locale/sk/LC_MESSAGES/djangojs.po
  modoboa/locale/sk_SK/LC_MESSAGES/djangojs.po
  modoboa/locale/sl_SI/LC_MESSAGES/djangojs.po
  modoboa/locale/sv/LC_MESSAGES/djangojs.po
  modoboa/locale/tr/LC_MESSAGES/djangojs.po
  modoboa/locale/tr_TR/LC_MESSAGES/djangojs.po
  modoboa/locale/uk/LC_MESSAGES/djangojs.po
  modoboa/locale/zh_CN/LC_MESSAGES/djangojs.po
  modoboa/locale/zh_TW/LC_MESSAGES/djangojs.po
Due: none

Make sure to catch all DNS exceptions.
  doc/manual_installation/dovecot.rst
  doc/upgrade.rst
  modoboa/admin/lib.py
Due: pylint

Updated transifex config
  .tx/config
Due: none

Updated transifex config
  transifex.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
