Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Updated transifex config
  transifex.yml
Due: none

fixed typo in doc
  doc/manual_installation/dovecot.rst
Due: none

Cleanup of frontend source translation
  frontend/src/locale/en/app.po
Due: none

Updated translation source file
  frontend/src/locale/en/app.po
Due: none

Updated frontend translation files
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Updated french translation
  frontend/src/locale/fr/app.po
Due: none

updated tx config
  .tx/config
Due: none

Updated tx client config
  .tx/config
Due: none

Updated frontend translations
  frontend/src/locale/en/app.po
  frontend/src/locale/translations.json
Due: none

Fixed frontend language activation for pt_BR
  frontend/gettext.config.cjs
  frontend/src/components/account/ProfileForm.vue
  frontend/src/locale/LINGUAS
  frontend/src/locale/en/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/translations.json
  frontend/src/plugins/gettext.js
  frontend/src/stores/auth.store.js
  modoboa/locale/pt_BR/LC_MESSAGES/django.po
  modoboa/locale/pt_BR/LC_MESSAGES/djangojs.po
Due: prettier, eslint

Update CHANGELOG.md - Typo -> Postfix
  CHANGELOG.md
Due: none

Updated upgrade instructions
  doc/manual_installation/dovecot.rst
  doc/upgrade.rst
Due: none

Propagate password to final session.
  modoboa/core/views/auth.py
Due: pylint

Few fixes
  modoboa/admin/handlers.py
  modoboa/core/signals.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/views/auth.py
Due: pylint

Updated badge url
  README.rst
Due: none

Simplify and fix secret key generation
  modoboa/core/commands/deploy.py
Due: pylint

Prevent installation of deprecated extensions.
  modoboa/core/commands/deploy.py
Due: pylint

Update getting_started.rst
  doc/contributing/getting_started.rst
Due: none

add allow_special_characters for random pwd option to parameters form
  modoboa/core/app_settings.py
Due: pylint
