Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Deal with password scheme deprecation (crypt as of now)
  frontend/src/api/admin.js
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/stores/global.store.js
  frontend/src/stores/index.js
  frontend/src/views/admin/InformationView.vue
  frontend/src/views/admin/ParametersView.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/checks.py
  modoboa/core/handlers.py
  modoboa/core/models.py
  modoboa/core/password_hashers/__init__.py
  modoboa/core/templates/core/information.html
  modoboa/core/views/admin.py
  modoboa/parameters/tools.py
  modoboa/templates/common/top_notifications.html
Due: pylint, prettier, eslint

Added tests
  .mergify.yml
  modoboa/core/api/v2/tests.py
  modoboa/core/models.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/tests/test_core.py
  test_project/test_project/settings.py
Due: pylint

Fixed wrong way to check for passwords using deprecated scheme.
  doc/upgrade.rst
  frontend/src/views/admin/InformationView.vue
  modoboa/core/checks.py
  modoboa/core/handlers.py
  modoboa/core/models.py
  modoboa/core/password_hashers/__init__.py
  modoboa/core/password_hashers/base.py
  modoboa/core/templates/core/information.html
  modoboa/core/utils.py
  modoboa/core/views/admin.py
Due: pylint, prettier, eslint

Avoid circular import
  modoboa/core/utils.py
Due: pylint

Make check works also with fresh installs
  modoboa/core/checks.py
  modoboa/core/password_hashers/__init__.py
Due: pylint

WIP: frontend module federation
  frontend/package.json
  frontend/src/components/shared/UserMenu.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/login/LoginCallbackView.vue
  frontend/vite.config.js
  frontend/yarn.lock
Due: prettier, eslint

WIP: frontend module federation setup.
  .gitignore
  docker-compose.yml
  docker/Dockerfile.dev
  frontend/src/api/account.js
  frontend/src/components/shared/AppsMenu.vue
  frontend/src/components/shared/TopMenu.vue
  frontend/src/components/shared/UserMenu.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/vite.config.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/extensions.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Force django-auth-ldap < 5
  pyproject.toml
Due: none

Improve packaging using pip-compile
  dev-requirements.txt
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  pyproject.toml
  requirements.txt
  setup.cfg
  test-requirements.txt
Due: none

fixed lxml module
  pyproject.toml
  requirements.txt
Due: none

Update
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/admin/logs/AuditTrailList.vue
  frontend/src/components/admin/logs/MessageList.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/shared/TopMenu.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/connected/ConnectedView.vue
  frontend/src/layouts/dashboard/DashboardLayout.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/layouts/empty/EmptyLayout.vue
  frontend/src/layouts/empty/EmptyView.vue
  frontend/src/router/index.js
  frontend/src/views/admin/domains/DomainsView.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
  frontend/vite.config.js
Due: prettier, eslint

Fixed wrong imports
  frontend/src/router/index.js
Due: prettier, eslint

fixed lxml module part 2
  pyproject.toml
  requirements.txt
Due: none

fixed ldap deps
  dev-requirements.txt
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  test-requirements.txt
  update_deps.sh
Due: none

fixed lxml module part 3
  dev-requirements.txt
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  pyproject.toml
  requirements.txt
  test-requirements.txt
Due: none

fixed lxml module part 4
  dev-requirements.txt
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  pyproject.toml
  requirements.txt
  test-requirements.txt
Due: none

Display text when login on new-admin
  docker/Dockerfile.dev
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/login/LoginCallbackView.vue
  frontend/src/views/login/LoginView.vue
Due: prettier, eslint

Use raw mode on custom or broken sieve file
  docker/dovecot_config/auth-custom.conf
  frontend/src/api/repository.js
  frontend/src/views/account/FiltersView.vue
  modoboa/core/checks.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
Due: pylint, prettier, eslint

Fixed display of sieve filters when none are active
  frontend/src/views/account/FiltersView.vue
Due: prettier, eslint

Updated test
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/mocks.py
Due: pylint

Updated mergify merge rule
  .mergify.yml
Due: none

Use raw mode on custom or broken sieve file (#3387)
  docker/dovecot_config/auth-custom.conf
  frontend/src/api/repository.js
  frontend/src/views/account/FiltersView.vue
  modoboa/core/checks.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
Due: pylint, prettier, eslint
