Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

docs: serve OAuth2 introspection with a dedicated uWSGI instance
  doc-ng/installation/webserver.md
Due: none

fix(webmail): prevent potential timeout when unfolding a mailbox (#4220)
  doc-ng/installation/upgrade.md
  doc-ng/installation/webserver.md
  frontend/src/components/webmail/MailboxList.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_connections.py
Due: pylint, prettier, eslint

fix(webmail): clear selection after deleting or moving messages to junk
  frontend/src/components/webmail/EmailList.vue
Due: prettier, eslint

fix(webmail): clear selection after deleting or moving messages to junk (#4221)
  frontend/src/components/webmail/EmailList.vue
Due: prettier, eslint

fix(webmail): decode adjacent encoded words together in subjects
  modoboa/lib/tests/test_u2u_decode.py
  modoboa/lib/u2u_decode.py
Due: pylint

fix(webmail): decode adjacent encoded words together in subjects (#4222)
  modoboa/lib/tests/test_u2u_decode.py
  modoboa/lib/u2u_decode.py
Due: pylint

feat(webmail): refine the messages listing toolbar and loading state
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

feat(webmail): refine the messages listing toolbar and loading state (#4223)
  frontend/src/components/webmail/EmailList.vue
  frontend/src/styles/main.scss
Due: prettier, eslint

fix(calendars): nest access rules under their calendar
  frontend/src/api/calendars.js
  frontend/src/components/calendars/CalendarAccessRulesForm.vue
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

fix(calendars): allow simple users to share their calendars
  modoboa/calendars/models.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint

fix(calendars): nest access rules under their calendar (#4225)
  frontend/src/api/calendars.js
  frontend/src/components/calendars/CalendarAccessRulesForm.vue
  modoboa/calendars/models.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

fix(calendars): regenerate rights file when rules are removed
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/tests.py
Due: pylint

fix(calendars): regenerate rights file when rules are removed (#4226)
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/tests.py
Due: pylint

fix(frontend): load all domains instead of the first page only
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainAliasForm.vue
  frontend/src/components/admin/identities/form_steps/AliasGeneralForm.vue
  frontend/src/stores/domains.store.js
Due: prettier, eslint

fix(frontend): load all domains instead of the first page only (#4227)
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainAliasForm.vue
  frontend/src/components/admin/identities/form_steps/AliasGeneralForm.vue
  frontend/src/stores/domains.store.js
Due: prettier, eslint

perf(webmail): cut IMAP round trips and redundant requests
  docker/radicale_config/rights
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/stores/webmail.store.js
  frontend/src/views/account/ParametersView.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_connections.py
  modoboa/webmail/tests/test_imapemail.py
  modoboa/webmail/tests/test_imaputils.py
  modoboa/webmail/tests/test_search.py
  modoboa/webmail/tests/test_threads.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

test(webmail): cover both authentication commands in the capabilities test
  modoboa/webmail/tests/test_connections.py
Due: pylint

perf(webmail): cut IMAP round trips and redundant requests (#4224)
  docker/radicale_config/rights
  frontend/src/api/webmail.js
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/stores/webmail.store.js
  frontend/src/views/account/ParametersView.vue
  frontend/src/views/webmail/EmailView.vue
  frontend/src/views/webmail/ThreadView.vue
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_connections.py
  modoboa/webmail/tests/test_imapemail.py
  modoboa/webmail/tests/test_imaputils.py
  modoboa/webmail/tests/test_search.py
  modoboa/webmail/tests/test_threads.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

chore(dev): make amavis optional in the development environment
  Makefile
  docker/compose.amavis.yml
  test_project/test_project/settings.py
Due: pylint

chore(dev): make amavis optional in the development environment (#4228)
  Makefile
  docker/compose.amavis.yml
  test_project/test_project/settings.py
Due: pylint

Updated OpenAPI schema for documenation.
  doc-ng/openapi.json
Due: none

chore(deps): ppdate vitepress and vitepress-openapi versions
  doc-ng/package.json
Due: none

fix(docs): generate tag pages from OpenAPI tags
  doc-ng/.vitepress/config.mjs
  doc-ng/tags/[tag].paths.js
Due: prettier, eslint

chore(deps): update vitepress and vitepress-openapi versions (#4231)
  doc-ng/.vitepress/config.mjs
  doc-ng/package.json
  doc-ng/tags/[tag].paths.js
Due: prettier, eslint

ci: update Node.js runtime version in documentation workflow
  .github/workflows/documentation.yml
Due: none

ci: update Node.js runtime version in documentation workflow (#4232)
  .github/workflows/documentation.yml
Due: none

docs(calendars): add upgrade instructions for Radicale login cache
  doc-ng/installation/upgrade.md
Due: none

perf(calendars): avoid Radicale auth delay and load calendars in parallel
  doc-ng/installation/radicale.md
  docker/radicale_config/config
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/tests.py
Due: pylint, prettier, eslint

docs(calendars): mention installer upgrade mode for Radicale login cache
  doc-ng/installation/upgrade.md
Due: none

perf(calendars): avoid Radicale auth delay and load calendars in parallel (#4233)
  doc-ng/installation/radicale.md
  doc-ng/installation/upgrade.md
  docker/radicale_config/config
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/tests.py
Due: pylint, prettier, eslint

fix(calendars): support recurring events and safe calendar change
  frontend/src/api/calendars.js
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/calendars/RecurrenceScopeDialog.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/backends/__init__.py
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/mocks.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

feat(calendars): highlight working hours and grey out weekends
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/layouts/account/AccountLayout.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/app_settings.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/parameters/api/v2/tests.py
Due: pylint, prettier, eslint

fix(calendars): support recurring events and safe calendar change (#4234)
  frontend/src/api/calendars.js
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/calendars/RecurrenceScopeDialog.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/calendars/backends/__init__.py
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/mocks.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

fix(calendars): make rights file section names unique
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/tests.py
Due: pylint

fix(calendars): reject calendar names refused by Radicale
  modoboa/calendars/migrations/0007_calendar_name_validator.py
  modoboa/calendars/models.py
  modoboa/calendars/tests.py
Due: pylint

feat(calendars): make calendar names unique per owner
  modoboa/calendars/handlers.py
  modoboa/calendars/migrations/0008_rename_duplicate_calendars.py
  modoboa/calendars/migrations/0009_calendar_name_unique_constraints.py
  modoboa/calendars/models.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
Due: pylint

feat(calendars): add rights endpoint for the Radicale rights plugin
  doc-ng/installation/radicale.md
  modoboa/calendars/authentication.py
  modoboa/calendars/rights.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/calendars/urls.py
  modoboa/calendars/viewsets.py
Due: pylint

refactor(calendars): authenticate Radicale with an OAuth2 access token
  modoboa/calendars/authentication.py
  modoboa/calendars/permissions.py
  modoboa/calendars/tests.py
  modoboa/calendars/viewsets.py
Due: pylint

fix(calendars): write the same shares in the rights file as the API
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/rights.py
  modoboa/calendars/tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
