Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Updated workflow
  .github/workflows/modoboa.yml
Due: none

Updated workflow
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Added password for postgres case
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Align database names
  .github/workflows/modoboa.yml
  tests.py
Due: pylint

Disabled tests
  modoboa/core/api/v2/tests.py
  tests.py
Due: pylint

Fixed wrong value
  modoboa/core/tests/test_views.py
Due: pylint

Added missing settings
  modoboa/core/tests/test_views.py
Due: pylint

Added Fido API
  .gitignore
  docker-compose.yml
  docker/Dockerfile.dev
  frontend/package.json
  frontend/public/config.json
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/FidoRegistrationDialog.vue
  frontend/src/views/account/APISetupView.vue
  frontend/src/views/account/ForwardView.vue
  frontend/src/views/account/ProfileView.vue
  frontend/src/views/account/SecurityView.vue
  frontend/src/views/account/SettingsView.vue
  frontend/vite.config.js
  frontend/yarn.lock
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
  requirements.txt
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Updated dev reqs
  dev-requirements.txt
  docker/Dockerfile.dev
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/fido2_auth.py
  modoboa/core/models.py
Due: pylint, prettier, eslint

Enabled fido registration on frontend
  doc/contributing/getting_started.rst
  docker/Dockerfile.dev
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/migrations/0028_userfidokeys.py
  modoboa/core/models.py
Due: pylint, prettier, eslint

Fixed settings
  frontend/src/layouts/dashboard/NavBar.vue
Due: prettier, eslint

Few updates
  frontend/src/components/account/FidoAuthForm.vue
  modoboa/static/css/modoboa.png
Due: prettier, eslint

Added Webautn login
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/middleware.py
  modoboa/core/models.py
  modoboa/core/views/auth.py
  modoboa/static/js/webauthn-json.browser-ponyfill.js
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint, prettier, eslint

Added customization to webauthn keys
  frontend/src/api/auth.js
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/plugins/filters.js
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/views.py
  modoboa/core/api/v2/viewsets.py
Due: pylint, prettier, eslint

New style for old login page
  modoboa/core/forms.py
  modoboa/core/templatetags/core_tags.py
  modoboa/static/css/modoboa-white.png
  modoboa/static/css/offline.css
  modoboa/templates/registration/base.html
  modoboa/templates/registration/login.html
  modoboa/templates/registration/password_reset_complete.html
  modoboa/templates/registration/password_reset_confirm.html
  modoboa/templates/registration/password_reset_done.html
  modoboa/templates/registration/password_reset_form.html
  test_project/test_project/settings.py
Due: pylint

Updated key view, add webauthn-json
  frontend/package.json
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/tools/ConfirmDialog.vue
  frontend/yarn.lock
Due: prettier, eslint

Updated hooks, updated deps
  .pre-commit-config.yaml
Due: none

Updated hooks v2
  .pre-commit-config.yaml
  frontend/.eslint.conf.js
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/gettext.config.js
  frontend/gettext.config.json
Due: prettier, eslint

Updated 2FA forms
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/TwoFactorAuthForm.vue
  frontend/src/stores/auth.store.js
  frontend/src/views/account/SettingsView.vue
Due: prettier, eslint

lint test
  .pre-commit-config.yaml
  frontend/.eslint.conf.js
  frontend/src/components/account/FidoAuthForm.vue
Due: prettier, eslint

Improved login process
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/constants.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/urls.py
  modoboa/core/views/__init__.py
  modoboa/core/views/auth.py
  modoboa/static/css/offline.css
  modoboa/templates/registration/twofactor_code_verify.html
  test_project/test_project/settings.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
