Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Update load_initial_data.py
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Make sure download link for PDF credentials actually work.
  frontend/src/api/accounts.js
  frontend/src/components/admin/identities/IdentityList.vue
  modoboa/pdfcredentials/api/v2/serializers.py
  modoboa/pdfcredentials/api/v2/tests.py
  modoboa/pdfcredentials/app_settings.py
Due: pylint, prettier, eslint

Allow null values for empty optional fields.
  modoboa/admin/api/v2/serializers.py
  modoboa/core/api/v2/serializers.py
  modoboa/core/app_settings.py
Due: pylint

Display transport settings for relay domains.
  frontend/src/components/admin/domains/DomainSummary.vue
  frontend/src/components/admin/domains/RelayDomainSummary.vue
  frontend/src/components/tools/BooleanIcon.vue
  frontend/src/views/admin/domains/DomainView.vue
Due: prettier, eslint

Fixed relaydomain to domain conversion
  frontend/src/components/admin/domains/DomainEditForm.vue
Due: prettier, eslint

Fixed resource usage display in domain list
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/domains/DomainSummary.vue
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Make sure PATCH endpoint behaves as expected for quota.
  modoboa/admin/api/v2/tests.py
  modoboa/admin/models/mailbox.py
Due: pylint

Revert "Try to fix outdated migration"
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

Better handling of webautn + removed deprecated extension
  frontend/package.json
  frontend/src/components/account/FidoAuthForm.vue
  frontend/yarn.lock
  modoboa/core/fido2_auth.py
Due: pylint, prettier, eslint

Fixed webauthn on chrome & docker
  docker-compose.yml
  modoboa/core/fido2_auth.py
Due: pylint

Added cleanup process for message history.
  modoboa/core/api/v2/serializers.py
  modoboa/core/app_settings.py
  modoboa/core/management/commands/cleanlogs.py
  modoboa/core/tests/test_core.py
Due: pylint

Allow policy daemon to bind to Unix domain socket, rather than TCP
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Use `redis.from_url`, rather than the seperate fields in Modoboa policyd
  modoboa/lib/redis.py
Due: pylint

Add support for systemd socket activation in Modoboa policy daemon
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Update MessageList.vue
  frontend/src/components/admin/logs/MessageList.vue
Due: prettier, eslint

Improved resource usage display (quota and message limit).
  frontend/src/components/admin/domains/DomainSummary.vue
  frontend/src/components/admin/identities/AccountSummary.vue
  frontend/src/components/admin/identities/IdentityList.vue
  modoboa/admin/api/v1/serializers.py
Due: pylint, prettier, eslint

Display domain DNSBL issues when necessary
  frontend/src/components/admin/domains/DNSBLSummary.vue
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/models/mxrecord.py
  modoboa/dnstools/api/v2/serializers.py
Due: pylint, prettier, eslint

Added way to search for a given domainadmin through the API
  frontend/src/components/admin/domains/DomainAdminList.vue
Due: prettier, eslint

Do not send wrong quota value when using default domain quota
  frontend/src/components/admin/identities/AccountCreationForm.vue
Due: prettier, eslint

Use custom logo also in webmail
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/tools/CreationForm.vue
  frontend/src/composables/logos.js
  frontend/src/layouts/webmail/WebmailLayout.vue
Due: prettier, eslint

Possibility to disable IMAP migration
  frontend/src/layouts/admin/AdminLayout.vue
  modoboa/core/utils.py
Due: pylint, prettier, eslint

Added widget to display global stats about the instance
  frontend/src/api/admin.js
  frontend/src/components/admin/dashboard/GlobalStatisticsWidget.vue
  frontend/src/views/DashboardView.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
Due: pylint, prettier, eslint
