Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Improved login process
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/constants.py
  modoboa/core/fido2_auth.py
  modoboa/core/forms.py
  modoboa/core/urls.py
  modoboa/core/views/__init__.py
  modoboa/core/views/auth.py
  modoboa/static/css/offline.css
  modoboa/templates/registration/twofactor_code_verify.html
  test_project/test_project/settings.py
Due: pylint

Compatibility with OIDC workflow
  modoboa/core/forms.py
  modoboa/core/views/auth.py
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint

Cleanup
  modoboa/core/api/v2/viewsets.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/middleware.py
  test_project/test_project/settings.py
Due: pylint

Updated build mechanism
  doc/contributing/getting_started.rst
  docker-compose.yml
  pyproject.toml
  setup.py
Due: pylint

Added webauthn_enabled
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/FidoRegistrationDialog.vue
  modoboa/admin/api/v1/serializers.py
  modoboa/core/api/v1/serializers.py
  modoboa/core/api/v1/viewsets.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/migrations/0029_rename_tfa_enabled_user_totp_enabled_and_more.py
  modoboa/core/models.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/tests/test_viewsets.py
  modoboa/core/views/auth.py
  modoboa/core/views/user.py
Due: pylint, prettier, eslint

Allow to enable only webauthn
  frontend/public/config.json
  frontend/src/api/auth.js
  frontend/src/components/account/BackupCodeAuthForm.vue
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/TotpAuthForm.vue
  frontend/src/components/tools/ConfirmDialog.vue
  frontend/src/stores/auth.store.js
  frontend/src/views/account/SettingsView.vue
  modoboa/core/api/v1/serializers.py
  modoboa/core/api/v1/viewsets.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/views/auth.py
Due: pylint, prettier, eslint

Updated github workflow
  .github/workflows/modoboa.yml
Due: none

Updated fontend packages
  frontend/package.json
  frontend/yarn.lock
Due: none

Update modoboa.yml
  .github/workflows/modoboa.yml
Due: none

Restrict GET request to /audit-trail to SuperAdmins only
  modoboa/core/api/v2/viewsets.py
Due: pylint

Updated deploy mechanism
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Improved errors display in login related pages
  modoboa/static/css/offline.css
  modoboa/templates/registration/login.html
  modoboa/templates/registration/password_reset_form.html
  modoboa/templates/registration/twofactor_code_verify.html
Due: none

Improved style of password recovery pages (SMS)
  modoboa/templates/registration/password_reset_confirm.html
  modoboa/templates/registration/password_reset_confirm_code.html
Due: none

Improved registration pages.
  modoboa/core/views/auth.py
  modoboa/templates/registration/login.html
  modoboa/templates/registration/password_reset_confirm.html
  modoboa/templates/registration/password_reset_confirm_code.html
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint

Improved webauthn support
  frontend/src/components/account/BackupCodeAuthForm.vue
  frontend/src/components/account/FidoAuthForm.vue
  frontend/src/components/account/RecoveryCodesResetDialog.vue
  frontend/src/components/account/TotpAuthForm.vue
  frontend/src/views/account/SettingsView.vue
  modoboa/core/api/v2/viewsets.py
  modoboa/core/fido2_auth.py
  modoboa/core/views/auth.py
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint, prettier, eslint

Removed useless file
  modoboa/core/drf_authentication.py
Due: pylint

Fixed wrong access to settings properties
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fixed load_initial_data command
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Moved variable declaration
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Prevent copy if folder does not exist
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

added changelog to pypi
  CHANGELOG.md
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
