Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Revert wrong changes to settings.py file
  test_project/test_project/settings.py
Due: pylint

Set lock file path
  .github/workflows/documentation.yml
Due: none

Align versions
  .github/workflows/documentation.yml
Due: none

Removed version from workflow file
  .github/workflows/documentation.yml
Due: none

Added webmail options to ask for delivery information.
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0002_scheduledmessage_request_dsn_and_more.py
  modoboa/webmail/models.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint, prettier, eslint

Send null values instead of empty strings for integer fields.
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/views/admin/ParametersView.vue
  modoboa/admin/app_settings.py
Due: pylint, prettier, eslint

Added new workflow to build frontend on PRs
  .github/workflows/frontend.yml
Due: none

fix FutureWarning in python3.13
  modoboa/maillog/management/commands/logparser.py
Due: pylint

test: cover sent_messages when Redis counter is missing
  modoboa/policyd/tests.py
Due: pylint

Updated upgrade instructions for 2.8
  doc-ng/installation/upgrade.md
Due: none

Use bulk_delete API endpoint instead of per-domain calls
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainList.vue
  modoboa/admin/api/v2/viewsets.py
Due: pylint, prettier, eslint

fix: handle None from Redis in get_message_counter
  modoboa/policyd/utils.py
Due: pylint

Use domain from headers if not available within an auth result.
  modoboa/dmarc/lib.py
Due: pylint

Added test cases.
  modoboa/dmarc/tests/test_management_command.py
Due: pylint

Fixed wrong syntax
  doc-ng/moving.md
Due: none

Check mailbox ownership when creating/updating an access rule.
  modoboa/autoreply/api/v2/serializers.py
  modoboa/calendars/serializers.py
  modoboa/calendars/tests.py
  modoboa/lib/permissions.py
Due: pylint

Check if current user can access specified in message in quarantine.
  modoboa/amavis/tests/test_viewsets.py
  modoboa/amavis/viewsets.py
Due: pylint

Added test cases
  .github/workflows/modoboa.yml
  modoboa/amavis/tests/test_viewsets.py
  modoboa/calendars/tests.py
Due: pylint

Sieve filters editor fixes
  frontend/src/components/account/FilterForm.vue
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint
