Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

Update radicale.rst (typo)
  doc/manual_installation/radicale.rst
Due: none

Fixed initialization issue in relay domain form.
  frontend/src/components/admin/domains/form_steps/DomainTransportForm.vue
Due: prettier, eslint

Use custom logo also in frontend
  frontend/public/config.json
  frontend/src/components/shared/NavBar.vue
  modoboa/core/management/commands/load_initial_data.py
Due: pylint, prettier, eslint

CUSTOM_MODOBOA_LOGO is not always defined
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Added possibility to customize HTML page title in frontend app
  frontend/public/config.json
  frontend/src/router/index.js
Due: prettier, eslint

Only show frontend user apps if they are enabled.
  modoboa/core/api/v2/viewsets.py
Due: pylint

Changed HTTP method for alarm bulk delete endpoint
  frontend/src/api/alarms.js
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
Due: pylint, prettier, eslint

Added test
  modoboa/core/api/v2/tests.py
Due: pylint

Replaced wrong method name
  modoboa/admin/api/v2/tests.py
Due: pylint

Fixed test
  modoboa/core/api/v2/tests.py
Due: pylint

Added option to use relative urls for generated config file
  modoboa/core/management/commands/load_initial_data.py
  modoboa/core/tests/test_core.py
Due: pylint

Added setting to customize logo used in frontend creation forms
  frontend/public/config.json
  frontend/src/components/tools/CreationForm.vue
Due: prettier, eslint

Prevent navigation issue after login.
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/views/DashboardView.vue
Due: prettier, eslint

Fixed incorrect condition
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fixed issue in import form
  frontend/src/components/tools/ImportForm.vue
  frontend/src/views/admin/domains/DomainsView.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
Due: prettier, eslint

Support dates without without high-precision part.
  modoboa/maillog/management/commands/logparser.py
Due: pylint

Show vertical scrollbar when needed in creation form.
  frontend/src/components/tools/CreationForm.vue
Due: prettier, eslint

Improved loading of custom logos for the frontend.
  doc/configuration.rst
  frontend/public/config.json
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/tools/CreationForm.vue
  modoboa/core/management/commands/load_initial_data.py
Due: pylint, prettier, eslint

Fixed prettier weird bug...
  frontend/src/components/shared/NavBar.vue
Due: prettier, eslint

Try to fix outdated migration
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint
