Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Restore migration
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

Restore migration
  modoboa/core/migrations/0004_auto_20150728_1228.py
Due: pylint

Fixed typo
  doc/manual_installation/radicale.rst
Due: none

Cleanup
  frontend/src/api/accounts.js
  frontend/src/components/admin/domains/DomainAdminList.vue
  frontend/src/components/admin/identities/IdentityList.vue
Due: prettier, eslint

Some updates
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/tools/ChooseColumnsForm.vue
  modoboa/core/management/commands/load_initial_data.py
Due: pylint, prettier, eslint

Updated translation files
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Build redirect uri dynamically when needed.
  frontend/public/config.json
  frontend/src/stores/auth.store.js
Due: prettier, eslint

Dynamic post logout redirect uri
  frontend/src/stores/auth.store.js
Due: prettier, eslint

Fixed wrong import path
  modoboa/lib/smtp_backend.py
Due: pylint

Simple and stupid way to customize theme colors.
  frontend/src/App.vue
  frontend/src/api/theme.js
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/views/DashboardView.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/app_settings.py
Due: pylint, prettier, eslint

Fixed test
  modoboa/core/api/v2/tests.py
  modoboa/webmail/lib/sendmail.py
Due: pylint

Fixed various issues with dynamic redirect uris and custom theme loading
  frontend/public/config.json
  frontend/src/App.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/stores/auth.store.js
  modoboa/core/api/v2/serializers.py
Due: pylint, prettier, eslint

Apply custom colors to left menu also
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/tools/ParametersForm.vue
Due: prettier, eslint

Added option to display custom RSS feed also to super admins
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/views.py
  modoboa/core/app_settings.py
  modoboa/templates/registration/base.html
  modoboa/urls.py
Due: pylint

Improved code
  frontend/public/config.json
  frontend/src/stores/auth.store.js
  frontend/src/utils.js
Due: prettier, eslint

Fixed issue with background color
  frontend/src/layouts/connected/ConnectedLayout.vue
Due: prettier, eslint

Added missing EHLO before auth attempt
  modoboa/lib/smtp_backend.py
Due: pylint

Allow all privileged users to read parameters.
  modoboa/parameters/api/v2/viewsets.py
Due: pylint

Update radicale.rst with extra information
  doc/manual_installation/radicale.rst
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
