Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Sieve filters editor fixes
  frontend/src/components/account/FilterForm.vue
  modoboa/sievefilters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Prevent login issue in some cases.
  frontend/src/stores/auth.store.js
Due: prettier, eslint

Allow email address in rule/filter names
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/mocks.py
Due: pylint

Allow email address in rule/filter names (#4011)
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/mocks.py
Due: pylint

docs: add lifecycle information
  doc-ng/.vitepress/config.mjs
  doc-ng/lifecycle.md
  doc-ng/public/django_release_roadmap.png
Due: prettier, eslint

Backport CVE-2026-27602: prevent OS command injection via exec_cmd()
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/management/commands/handle_mailbox_operations.py
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/models/mailbox.py
  modoboa/core/commands/deploy.py
  modoboa/core/password_hashers/utils.py
  modoboa/lib/sysutils.py
  modoboa/maillog/graphics.py
  tests.py
Due: pylint

fix typo
  doc-ng/lifecycle.md
Due: none

docs: add lifecycle information (#4017)
  doc-ng/.vitepress/config.mjs
  doc-ng/lifecycle.md
  doc-ng/public/django_release_roadmap.png
Due: prettier, eslint

Added tests
  modoboa/admin/tests/test_domain.py
  modoboa/core/tests/test_extensions.py
Due: pylint

Removed wrong file
  modoboa/imap_migration/jobs.py
Due: pylint

Allow policy daemon to bind to Unix domain socket, rather than TCP
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Add support for systemd socket activation in Modoboa policy daemon
  modoboa/policyd/management/commands/policy_daemon.py
Due: pylint

Add tests for socket activation and socket listener
  modoboa/policyd/tests.py
Due: pylint

Don’t depend on running Redis for caching when executing tests
  test_project/test_project/settings.py
Due: pylint

Cleanup
  frontend/src/main.js
  frontend/vite.config.js
Due: prettier, eslint

Updated documentation
  doc-ng/contributing/plugin_api.md
Due: none

Updated doc
  doc-ng/contributing/plugin_api.md
Due: none

Relocate MF bootstrap files
  .gitignore
  frontend/vite.config.js
Due: prettier, eslint

docs: add OPENAPI generator (#3970)
  doc-ng/.vitepress/config.mjs
  doc-ng/.vitepress/theme/index.mjs
  doc-ng/openapi.json
  doc-ng/openapi/[operationId].md
  doc-ng/openapi/[operationId].paths.mjs
  doc-ng/openapi/index.md
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
  doc-ng/rest_api.md
  doc-ng/tags/[tag].md
  doc-ng/tags/[tag].paths.js
Due: prettier, eslint

Fixed wrong url in password reset email.
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/templates/registration/password_reset_email_v2.html
Due: pylint

Make sure all authentication pages are using the right colors
  doc-ng/installation/upgrade.md
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/context_processors.py
Due: pylint

Removed useless mixin
  modoboa/core/context_processors.py
  modoboa/core/views/auth.py
Due: pylint

Added test
  modoboa/core/tests/test_authentication.py
  test_project/test_project/settings.py
Due: pylint

Document MariaDB support in README
  README.rst
Due: none

chore(deps): update vitepress version
  doc-ng/package.json
  doc-ng/pnpm-lock.yaml
Due: none

docs: upgrade vitepress configuration for openapi
  doc-ng/.vitepress/config.mjs
  doc-ng/.vitepress/theme/index.mjs
Due: prettier, eslint

docs: add local server on json API
  doc-ng/openapi.json
Due: none

Fixed issue with ICS file upload from Calendar.
  frontend/src/api/calendars.js
  frontend/src/components/calendars/ImportEventsForm.vue
Due: prettier, eslint

fix: for to use package.json to build documentation
  .readthedocs.yml
Due: none

fix: for to use package.json to build documentation (#4032)
  .readthedocs.yml
Due: none

fix: use force flag to install vitepress on RTD
  .readthedocs.yml
Due: none

fix: use force flag to install vitepress on RTD (#4033)
  .readthedocs.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
