Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Use RQ instead of cron - mailbox ops
  modoboa/admin/jobs.py
  modoboa/admin/management/commands/handle_mailbox_operations.py
  modoboa/admin/models/mailbox.py
  modoboa/admin/tests/test_mailbox_operations.py
  test_project/test_project/settings.py
Due: pylint

Removed reference to new-admin path
  doc/upgrade.rst
  frontend/vite.config.js
Due: prettier, eslint

Updated upgrade instructions
  doc/upgrade.rst
Due: none

add allow_special_characters for random pwd option to parameters form
  modoboa/core/app_settings.py
Due: pylint

modify random password generator function make_password() to always include at least one of the possible string groups (ascii_letters, digits, special characters etc.)
  modoboa/admin/lib.py
Due: pylint

add allow_special_characters for random pwd into serializers
  modoboa/core/api/v2/serializers.py
Due: pylint

add special characters functionnality to random password generator function make_password
  modoboa/admin/lib.py
Due: pylint

comment test_random_password with a TODO to add a new test for checking if some characters are in unhashed password before user creation with random password
  modoboa/admin/lib.py
Due: pylint

Added tests
  modoboa/admin/lib.py
  modoboa/admin/tests/test_account.py
Due: pylint

Updated test
  frontend/src/layouts/admin/AdminLayout.vue
  modoboa/admin/tests/test_account.py
  modoboa/core/password_hashers/utils.py
Due: pylint, prettier, eslint

Various fixes
  doc/upgrade.rst
  frontend/src/api/webmail.js
  frontend/src/components/contacts/ContactList.vue
  frontend/src/components/webmail/AttachmentsDialog.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/vite.config.js
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/models/base.py
  modoboa/autoreply/models.py
  modoboa/contacts/importer/__init__.py
  modoboa/core/extensions.py
  modoboa/core/models.py
  modoboa/imap_migration/__init__.py
  modoboa/lib/exceptions.py
  modoboa/limits/tests/test_user_limits.py
  modoboa/parameters/tools.py
  modoboa/rspamd/admin.py
  modoboa/sievefilters/__init__.py
  modoboa/sievefilters/api/v2/serializers.py
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/sievefilters/lib.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
Due: pylint, prettier, eslint

Replaced calls to pkg_resource.
  modoboa/__init__.py
  modoboa/core/utils.py
  modoboa/lib/api_client.py
  modoboa/lib/email_utils.py
  modoboa/webmail/lib/sendmail.py
  pyproject.toml
Due: pylint

Fixed test
  modoboa/autoreply/models.py
Due: pylint

More frontend fixes
  frontend/src/components/contacts/ContactList.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/views/account/FiltersView.vue
Due: prettier, eslint

More updates
  frontend/src/components/webmail/MailboxList.vue
  modoboa/admin/app_settings.py
  modoboa/autoreply/apps.py
  modoboa/calendars/app_settings.py
  modoboa/contacts/app_settings.py
  modoboa/core/apps.py
  modoboa/dmarc/forms.py
  modoboa/imap_migration/apps.py
  modoboa/lib/migrations/0007_auto_20250701_0921.py
  modoboa/limits/apps.py
  modoboa/maillog/apps.py
  modoboa/parameters/tools.py
  modoboa/pdfcredentials/apps.py
  modoboa/rspamd/apps.py
  modoboa/sievefilters/apps.py
  modoboa/webmail/app_settings.py
Due: pylint, prettier, eslint

Updated documentation.
  doc/manual_installation/webserver.rst
  doc/upgrade.rst
  modoboa/webmail/lib/imapemail.py
Due: pylint

Backported change from old modoboa-radicale repo
  doc/manual_installation/webserver.rst
  modoboa/calendars/management/commands/generate_rights.py
Due: pylint

Added status indication on multiple pages
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/domains/DomainSummary.vue
  frontend/src/components/admin/identities/AccountSummary.vue
  frontend/src/components/admin/identities/AliasSummary.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
  frontend/src/views/admin/identities/IdentitiesView.vue
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Fixed test
  modoboa/calendars/tests.py
Due: pylint

Allow empty local part for alias definition
  frontend/src/components/webmail/MailboxList.vue
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
