Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Fixed test data
  modoboa/amavis/tests/test_viewsets.py
Due: pylint

Added documentation for amavis
  doc/index.rst
  doc/installation.rst
  doc/manual_installation/amavis.rst
  doc/manual_installation/opendkim.rst
  docker/Dockerfile.amavis.dev
  docker/amavis_config/amavisd.conf
Due: none

Revert "Try to fix outdated migration"
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

Fixed migration
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

Added upgrade instructions for 2.5.0
  doc/upgrade.rst
Due: none

Fixed syntax error
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

All users should be allowed to check for notifications
  modoboa/core/api/v2/views.py
Due: pylint

recipient_delimiter field can be empty
  modoboa/amavis/serializers.py
Due: pylint

Added missing quotes to SORT parameter
  frontend/src/components/webmail/EmailList.vue
  modoboa/webmail/lib/imaputils.py
Due: pylint, prettier, eslint

Fixed deployment when amavis is enabled
  doc/conf.py
  modoboa/core/commands/deploy.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
  tests.py
Due: pylint

Put back amavis in test settings
  test_project/test_project/settings.py
Due: pylint

Apply custom theme to login page also.
  frontend/src/composables/theme.js
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/views/login/LoginCallbackView.vue
  modoboa/core/views/auth.py
  modoboa/static/css/offline.css
  modoboa/templates/registration/base.html
  modoboa/templates/registration/login.html
Due: pylint, prettier, eslint

Fixed wrong chart colors assigment
  frontend/package.json
  frontend/src/components/tools/TimeSerieChart.vue
  frontend/yarn.lock
Due: prettier, eslint

Update README.rst
  README.rst
Due: none

Autoconfiguration service
  LICENSE
  modoboa/autoconfig/__init__.py
  modoboa/autoconfig/apps.py
  modoboa/autoconfig/templates/autoconfig/autoconfig.xml
  modoboa/autoconfig/templates/autoconfig/autodiscover.xml
  modoboa/autoconfig/templates/autoconfig/mobileconfig.xml
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/urls.py
  modoboa/autoconfig/views.py
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/urls.py
  test_project/test_project/settings.py
Due: pylint

Use plistlib to generate mobileconfig
  modoboa/autoconfig/templates/autoconfig/autoconfig.xml
  modoboa/autoconfig/templates/autoconfig/mobileconfig.xml
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/views.py
Due: pylint

Added upgrade instructions
  doc/upgrade.rst
  modoboa/autoconfig/tests.py
  modoboa/autoconfig/urls.py
  modoboa/autoconfig/views.py
Due: pylint

Fixed mobileconfig view
  modoboa/autoconfig/views.py
Due: pylint

Force string conversion
  modoboa/autoconfig/views.py
Due: pylint

Fixed test
  modoboa/autoconfig/tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
