Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Fixed tests
  modoboa/parameters/api/v2/tests.py
Due: pylint

Added tests
  modoboa/webmail/tests/__init__.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_fetch_parser.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint

Added more tests
  .gitignore
  docker-compose.yml
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint

Added more tests
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint

Improved coverage
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint

More tests
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Added missing files
  modoboa/lib/oauth2.py
  modoboa/lib/smtp_backend.py
Due: pylint

More tests
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/sievefilters/imaputils.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint

Fixed sievefilters tests
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/webmail/lib/imaputils.py
Due: pylint

Removed useless code
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Fixed tests (sievefilters & webmail)
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/mocks.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

Added missing file
  modoboa/webmail/mocks.py
Due: pylint

Various improvements
  frontend/src/api/webmail.js
  frontend/src/components/tools/ParametersForm.vue
  frontend/src/components/webmail/BodyEditor.vue
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/account/AccountLayout.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/stores/bus.store.js
  frontend/src/views/webmail/EmailView.vue
  modoboa/parameters/tools.py
  modoboa/sievefilters/api/v2/vloaders.py
  modoboa/webmail/app_settings.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/lib/signature.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

Fixed wrong param name
  modoboa/sievefilters/api/v2/vloaders.py
Due: pylint

Removed wrong file
  test_project/envfile
Due: none

Refactored rspamd capabilities checks
  modoboa/core/utils.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/utils.py
Due: pylint

Imported Rspamd to main repo
  frontend/src/api/capabilities.js
  frontend/src/layouts/admin/AdminLayout.vue
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/utils.py
  modoboa/rspamd/__init__.py
  modoboa/rspamd/admin.py
  modoboa/rspamd/api/__init__.py
  modoboa/rspamd/api/v2/__init__.py
  modoboa/rspamd/api/v2/serializers.py
  modoboa/rspamd/app_settings.py
  modoboa/rspamd/apps.py
  modoboa/rspamd/handlers.py
  modoboa/rspamd/management/__init__.py
  modoboa/rspamd/management/commands/__init__.py
  modoboa/rspamd/management/commands/manage_rspamd_maps.py
  modoboa/rspamd/migrations/__init__.py
  modoboa/rspamd/models.py
  modoboa/rspamd/tests.py
  modoboa/rspamd/utils.py
  modoboa/rspamd/views.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Defer rspamdUrl access
  frontend/src/layouts/admin/AdminLayout.vue
Due: prettier, eslint

Changed rrdtool-bindings
  pyproject.toml
Due: none

Prepare for django 5.2
  .github/workflows/modoboa.yml
  pyproject.toml
Due: none

Bumped Django to 5.2
  pyproject.toml
Due: none

Removed old static files
  modoboa/static/css/custom.css
  modoboa/static/css/jquery.sortable.css
  modoboa/static/css/searchbar.css
  modoboa/static/css/spinner.gif
  modoboa/static/css/viewmail.css
  modoboa/static/js/autocompleter.js
  modoboa/static/js/confirmation.js
  modoboa/static/js/creation_wizard.js
  modoboa/static/js/csrf.js
  modoboa/static/js/dynamic_input.js
  modoboa/static/js/global.js
  modoboa/static/js/history.js
  modoboa/static/js/jquery.htmltable.js
  modoboa/static/js/jquery.infinitescroll.js
  modoboa/static/js/jquery.sortable.js
  modoboa/static/js/listing.js
  modoboa/static/js/notify.js
  modoboa/static/js/poller.js
  modoboa/static/js/searchbar.js
  modoboa/static/js/top_notifications.js
  modoboa/static/js/twocols_nav.js
  modoboa/static/pics/answered.png
  modoboa/static/pics/attachment.png
  modoboa/static/pics/collapsed.png
  modoboa/static/pics/expanded.png
  modoboa/static/pics/forwarded.png
  modoboa/static/pics/grippy.png
  modoboa/static/pics/release.png
  modoboa/static/pics/transparent.png
Due: prettier, eslint

Set default value for password scheme
  modoboa/core/api/v2/serializers.py
  modoboa/locale/fr/LC_MESSAGES/djangojs.po
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
