Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

fix(webmail): use proper target for mark_as_junk action.
  modoboa/webmail/viewsets.py
Due: pylint

fix(core): harden SMS password recovery on the Django side
  frontend/src/api/auth.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/core/constants.py
  modoboa/core/forms.py
  modoboa/core/sms_backends/__init__.py
  modoboa/core/tests/test_authentication.py
  modoboa/core/views/__init__.py
  modoboa/core/views/auth.py
  modoboa/lib/throttle.py
  modoboa/urls.py
Due: pylint, prettier, eslint

tests: Allow running tests without requiring a running unauthenticated Redis instance on localhost
  modoboa/admin/api/v2/tests.py
  modoboa/admin/tests/test_domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/amavis/tests/test_viewsets.py
  modoboa/contacts/tests.py
  modoboa/policyd/tests.py
  modoboa/rspamd/tests.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

tests(core): Allow running tests without requiring network access
  modoboa/core/api/v2/tests.py
Due: pylint

tests(admin): Skip Dovecot LDAP config generation tests when LDAP package is not installed
  modoboa/admin/tests/test_need_dovecot_update.py
Due: pylint

feat(admin): add bulk delete action to domain list
  frontend/src/api/domains.js
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/composables/permissions.js
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/api/v2/tests.py
  modoboa/admin/api/v2/viewsets.py
  modoboa/lib/permissions.py
Due: pylint, prettier, eslint

fix(core): Return username during FIDO2 registration as just the name, rather than `b'<username>'`
  modoboa/core/api/v2/tests.py
  modoboa/core/fido2_auth.py
Due: pylint

fix(core): Signal current username and displayName to authenticators after successful FIDO 2FA
  modoboa/core/views/auth.py
  modoboa/templates/registration/twofactor_code_verify.html
Due: pylint

Cap rq below 2.11 to avoid rqcron registration crash
  pyproject.toml
Due: none

Require django-rq>=4.2 instead of capping rq
  pyproject.toml
Due: none

chore: Compat with django-oauth-toolkit >= 3.4
  modoboa/autoreply/models.py
  modoboa/contacts/viewsets.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
  pyproject.toml
Due: pylint

fix: safely retrieve access token from request
  modoboa/autoreply/api/v2/tests.py
  modoboa/autoreply/models.py
  modoboa/calendars/backends/__init__.py
  modoboa/contacts/serializers.py
  modoboa/contacts/tasks.py
  modoboa/contacts/viewsets.py
  modoboa/lib/oauth2.py
  modoboa/lib/tests/__init__.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/lib/sendmail.py
Due: pylint

perf: speed up modo repair on large instances
  modoboa/admin/management/commands/subcommands/_repair.py
  modoboa/core/migrations/0032_objectaccess_core_object_content_6b9cf4_idx.py
  modoboa/core/models.py
  modoboa/lib/permissions.py
Due: pylint

perf: speed up modo repair on large instances (#4160)
  modoboa/admin/management/commands/subcommands/_repair.py
  modoboa/core/migrations/0032_objectaccess_core_object_content_6b9cf4_idx.py
  modoboa/core/models.py
  modoboa/lib/permissions.py
Due: pylint

perf: speed up super admin creation and promotion
  modoboa/admin/handlers.py
  modoboa/lib/permissions.py
Due: pylint

fix: stop leaving objects without an owner on role downgrade
  modoboa/admin/tests/test_ownership.py
  modoboa/core/handlers.py
  modoboa/core/models.py
  modoboa/lib/permissions.py
Due: pylint

fix: stop leaving objects without an owner on role downgrade (#4162)
  modoboa/admin/tests/test_ownership.py
  modoboa/core/handlers.py
  modoboa/core/models.py
  modoboa/lib/permissions.py
Due: pylint

fix(limits): allow deletion of orphan accounts
  modoboa/limits/handlers.py
Due: pylint

feat(frontend): show a progress indicator while identities are deleted
  frontend/src/components/admin/identities/IdentityList.vue
Due: prettier, eslint

Webmail: sandbox message display and embed inline images
  frontend/src/views/webmail/EmailView.vue
  modoboa/webmail/constants.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_imapemail.py
Due: pylint, prettier, eslint

Fixed compat issues with Python 3.13+
  modoboa/webmail/lib/imaputils.py
Due: pylint

Webmail: escape mailbox names in IMAP commands
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_imaputils.py
Due: pylint

Fixed review comment
  frontend/src/views/webmail/EmailView.vue
Due: prettier, eslint

fix: webmail: escape mailbox names in IMAP commands (#4173)
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_imaputils.py
Due: pylint

fix(webmail): repair draft editing
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/views/webmail/EmailView.vue
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): handle Reply-To and forward recipients
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/views/webmail/ForwardEmailView.vue
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint, prettier, eslint

test(webmail): use MagicMock for the IMAP connector in inline tests
  modoboa/webmail/tests/test_imapemail.py
Due: pylint

fix(webmail): repair draft editing (#4174)
  frontend/src/components/webmail/ComposeEmailForm.vue
  frontend/src/views/webmail/EmailView.vue
  modoboa/webmail/lib/__init__.py
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): escape sender name in HTML reply header
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): escape sender name in HTML reply header (#4177)
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/mocks.py
  modoboa/webmail/tests/data.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

fix(webmail): report refused mailbox operations instead of crashing
  modoboa/webmail/exceptions.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_mailbox_errors.py
Due: pylint

fix(webmail): report refused mailbox operations instead of crashing (#4178)
  modoboa/webmail/exceptions.py
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_mailbox_errors.py
Due: pylint

fix(webmail): handle SMTP network errors and stuck scheduled messages
  modoboa/webmail/constants.py
  modoboa/webmail/jobs.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_scheduling.py
Due: pylint

fix(webmail): handle SMTP network errors and stuck scheduled messages (#4176)
  modoboa/webmail/constants.py
  modoboa/webmail/jobs.py
  modoboa/webmail/lib/sendmail.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_scheduling.py
Due: pylint

fix(webmail): keep addresses whole when display names contain commas
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_addresses.py
Due: pylint

fix(webmail): keep addresses whole when display names contain commas (#4179)
  modoboa/webmail/lib/imapemail.py
  modoboa/webmail/lib/imapheader.py
  modoboa/webmail/tests/test_addresses.py
Due: pylint

fix(webmail): flag original messages as answered or forwarded
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_flags.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): flag original messages as answered or forwarded (#4180)
  frontend/src/components/webmail/ComposeEmailForm.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_flags.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): store attachments privately and clean up resources
  .gitignore
  modoboa/core/commands/templates/cron_config.py.tpl
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/webmail/lib/attachments.py
  modoboa/webmail/lib/utils.py
  modoboa/webmail/migrations/0003_move_attachments_out_of_media.py
  modoboa/webmail/models.py
  modoboa/webmail/tests/test_attachments_storage.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
  test_project/test_project/cron_config.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
