Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Reintroduced News feed widget in admin dashboard.
  frontend/src/api/admin.js
  frontend/src/components/admin/dashboard/NewsFeedWidget.vue
  frontend/src/views/DashboardView.vue
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/tests.py
  modoboa/core/api/v2/urls.py
  modoboa/core/api/v2/views.py
  modoboa/lib/permissions.py
Due: pylint, prettier, eslint

Updated tests
  modoboa/core/api/v2/tests.py
Due: pylint

Updated translation files
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Added checks for Dovecot and Radicale oauth2 app
  modoboa/core/checks.py
Due: pylint

Force drf to be compatible with django 5.2
  pyproject.toml
Due: none

Updated doc
  doc/upgrade.rst
Due: none

Updated README
  README.rst
Due: none

Added tests for new checks
  modoboa/core/tests/test_checks.py
Due: pylint

Updated favicon
  modoboa/static/css/favicon.ico
  modoboa/static/css/logo-icon.png
  modoboa/templates/layout_simple.html
  modoboa/templates/registration/base.html
Due: none

Added oauth 2 generation explaination for radicale
  doc/installation.rst
  doc/manual_installation/radicale.rst
Due: none

Fixed test
  modoboa/core/tests/test_checks.py
Due: pylint

Fixed copy/paste
  doc/manual_installation/radicale.rst
Due: none

Start of support for multiple allowed_hosts
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fixed post logout redirect not updating
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
