Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-under=5"]
      - id: prettier
        name: prettier
        entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        additional_dependencies: ["prettier"]
      - id: eslint
        name: eslint
        language: node
        types_or: [javascript, jsx, ts, tsx, vue]
        entry: eslint -c frontend/.eslint.conf.js --fix
        additional_dependencies: ["eslint-plugin-vue", "eslint-config-prettier", "prettier", "eslint"]
  - repo: https://github.com/psf/black
    rev: "24.2.0"
    hooks:
      - id: black

feat(admin): refine DNS checks gating and DMARC criticality
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/dns_checker.py
  modoboa/admin/models/domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/dnstools/tests.py
Due: pylint, prettier, eslint

feat(admin): refine DNS checks gating and DMARC criticality (#4112)
  frontend/src/components/admin/domains/DNSDetail.vue
  modoboa/admin/api/v2/serializers.py
  modoboa/admin/app_settings.py
  modoboa/admin/dns_checker.py
  modoboa/admin/models/domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/dnstools/tests.py
Due: pylint, prettier, eslint

fix: allow non-admin users to create API keys (#3096)
  modoboa/core/api/v2/viewsets.py
Due: pylint

test(imap_migration): Ensure restrictive permission on created file
  modoboa/imap_migration/tests.py
Due: pylint

feat(imap_migration): Add `--no-restrict` CLI option to config file generation to use default permissions
  modoboa/imap_migration/management/commands/generate_offlineimap_config.py
  modoboa/imap_migration/tests.py
Due: pylint

security(imap_migration): Fix race condition between time of file creation and restricting file permission bits
  modoboa/imap_migration/management/commands/generate_offlineimap_config.py
Due: pylint

chore: remove committed .djcache files and ignore cache dir
  test_project/.gitignore
  test_project/cache/1a4e86bf0412d251edbb6fcf2f26a3df.djcache
  test_project/cache/2ad65e0871d79b0da8195b91a7328722.djcache
  test_project/cache/566d51361acaf4f85a637d861e7874b6.djcache
  test_project/cache/7657e4ef408c935f8a88df36af9e35f7.djcache
  test_project/cache/8b51a3b9b3e0f7272793b417a49e165a.djcache
  test_project/cache/9160e1979cf7040f4ca7b50d5f550d1a.djcache
  test_project/cache/d048f5d7dbdd4656d3b345c762eb9b5c.djcache
  test_project/cache/d3373a2ef7a26afa7bef152e58039a43.djcache
Due: none

fix(core): use SERVE_PERMISSIONS instead of SERVE_AUTHENTICATION per maintainer feedback
  doc-ng/installation/upgrade.md
  modoboa/core/api/v2/tests.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint

chore: remove accidentally committed djcache files
  .gitignore
Due: none

chore: auto-sync from VM - 2026-07-17T01:23:25Z
  test_project/cache/1a4e86bf0412d251edbb6fcf2f26a3df.djcache
  test_project/cache/2ad65e0871d79b0da8195b91a7328722.djcache
  test_project/cache/566d51361acaf4f85a637d861e7874b6.djcache
  test_project/cache/7657e4ef408c935f8a88df36af9e35f7.djcache
  test_project/cache/8b51a3b9b3e0f7272793b417a49e165a.djcache
  test_project/cache/9160e1979cf7040f4ca7b50d5f550d1a.djcache
  test_project/cache/d048f5d7dbdd4656d3b345c762eb9b5c.djcache
  test_project/cache/d3373a2ef7a26afa7bef152e58039a43.djcache
Due: none

fix(core): use authentication classes instead of permission class for SERVE_AUTHENTICATION (refs #4102)
  doc-ng/installation/upgrade.md
  modoboa/core/api/v2/tests.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint

fix(core): use authentication classes in SERVE_AUTHENTICATION to prevent swagger crash (refs #4102) (#4107)
  .gitignore
  doc-ng/installation/upgrade.md
  modoboa/core/api/v2/tests.py
  modoboa/core/commands/templates/settings.py.tpl
  test_project/.gitignore
  test_project/test_project/settings.py
Due: pylint

fix: remove lock file to perform dependaboot upgrade
  doc-ng/pnpm-lock.yaml
Due: none

fix: ignore lock file for documentation
  .gitignore
Due: none

fix: remove cache
  .github/workflows/documentation.yml
Due: none

fix: remove lock file on documentation (#4121)
  .github/workflows/documentation.yml
  .gitignore
  doc-ng/pnpm-lock.yaml
Due: none

chore: add renovate configuration file
  renovate.json
Due: none

chore: add renovate configuration file (#4122)
  renovate.json
Due: none

fix: Use calling hostname when performing FIDO2 authentication
  modoboa/core/fido2_auth.py
  modoboa/core/views/auth.py
Due: pylint

feat: Allow passing standard arguments to RQ job handler functions wrapping `call_command`
  modoboa/amavis/jobs.py
  modoboa/calendars/jobs.py
  modoboa/core/jobs.py
  modoboa/maillog/jobs.py
Due: pylint

docs(admin): Document the `cron_config.py` instance file format, including what not to do
  doc-ng/installation/modoboa.md
Due: none

feat(maillog): Add ability to specify post-task command-line to execute after finishing log parsing
  modoboa/maillog/management/commands/logparser.py
  modoboa/maillog/tests/test_views.py
Due: pylint

docs(maillog): Move “potential high system load” suggestion to cron task section, now that the new format is documented
  doc-ng/installation/modoboa.md
Due: none

Updated frontend packages
  frontend/package.json
  frontend/yarn.lock
  modoboa/admin/jobs.py
Due: pylint

tests(admin): Skip Dovecot LDAP config generation tests when LDAP package is not installed
  modoboa/admin/tests/test_need_dovecot_update.py
Due: pylint

tests(core): Allow running tests without requiring network access
  modoboa/core/api/v2/tests.py
Due: pylint

tests: Allow running tests without requiring a running unauthenticated Redis instance on localhost
  modoboa/admin/api/v2/tests.py
  modoboa/admin/tests/test_domain.py
  modoboa/admin/tests/test_mx.py
  modoboa/amavis/tests/test_viewsets.py
  modoboa/contacts/tests.py
  modoboa/policyd/tests.py
  modoboa/rspamd/tests.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint

feat(admin): Allow generating DKIM keys without restricted permissions
  modoboa/admin/management/commands/subcommands/_manage_dkim_keys.py
  modoboa/admin/tests/test_domain.py
  modoboa/lib/sysutils.py
Due: pylint

chore: Use `umask` from `sysutils` in existing test
  modoboa/imap_migration/tests.py
Due: pylint

Allow update of enable_dns_checks flag using the API.
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v2/tests.py
Due: pylint

fix(api): Allow update of enable_dns_checks flag using the API. (#4130)
  modoboa/admin/api/v1/serializers.py
  modoboa/admin/api/v2/tests.py
Due: pylint

feat(webmail): Add IMAP folder subscriptions management
  frontend/src/api/webmail.js
  frontend/src/components/webmail/SubscriptionsDialog.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

feat(webmail): Add IMAP folder subscriptions management (#4137)
  frontend/src/api/webmail.js
  frontend/src/components/webmail/SubscriptionsDialog.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/mocks.py
  modoboa/webmail/serializers.py
  modoboa/webmail/tests/test_viewsets.py
  modoboa/webmail/viewsets.py
Due: pylint, prettier, eslint

fix(webmail): reliable unread counters in the mailbox sidebar
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint, prettier, eslint

fix(webmail): reliable unread counters in the mailbox sidebar (#4138)
  frontend/src/components/webmail/EmailList.vue
  frontend/src/components/webmail/MailboxList.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  modoboa/webmail/lib/imaputils.py
  modoboa/webmail/tests/test_viewsets.py
Due: pylint, prettier, eslint

fix: pass request.auth directly to IMAPconnector instead of str()
  modoboa/webmail/lib/imaputils.py
Due: pylint

fix: extract actual token from request.auth instead of str()
  modoboa/webmail/lib/imaputils.py
Due: pylint

fix: preserve already-decoded unicode in amavis text
  modoboa/amavis/tests/test_utils.py
  modoboa/amavis/utils.py
Due: pylint

fix(admin): dedupe alias recipients on resolved target
  modoboa/admin/models/alias.py
  modoboa/admin/tests/test_alias.py
Due: pylint

fix(core): resolve extension version from installed package metadata
  modoboa/core/extensions.py
  modoboa/core/tests/test_extensions.py
Due: pylint
