Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

New asynchronous way to synchronize from addressbook.
  frontend/src/components/contacts/ContactList.vue
  frontend/src/views/contacts/AddressBook.vue
  modoboa/contacts/migrations/0008_addressbook_syncing.py
  modoboa/contacts/models.py
  modoboa/contacts/serializers.py
  modoboa/contacts/tasks.py
  modoboa/contacts/viewsets.py
Due: pylint, prettier, eslint

Updated tests
  modoboa/contacts/tests.py
Due: pylint

Reduce logs
  modoboa/admin/tests/test_mx.py
Due: pylint

Try to disable rspamd tests when not needed
  modoboa/rspamd/tests.py
  test_project/test_project/settings.py
Due: pylint

Try to disable rspamd tests
  .gitignore
  docker-compose.yml
  modoboa/rspamd/tests.py
  test_project/test_project/settings.py
Due: pylint

Use SimplerWorker explicitely
  modoboa/contacts/tests.py
  modoboa/rspamd/tests.py
Due: pylint

Updated tests
  modoboa/core/api/v2/tests.py
  modoboa/parameters/api/v2/tests.py
  modoboa/rspamd/tests.py
Due: pylint

Contacts listing improvements.
  frontend/src/components/contacts/ContactList.vue
  modoboa/contacts/viewsets.py
  pyproject.toml
Due: pylint, prettier, eslint

Apply theme color to account sidebar.
  frontend/src/layouts/account/AccountLayout.vue
Due: prettier, eslint

Fixed wrong syntax.
  modoboa/contacts/tests.py
Due: pylint

Contacts UI improvements
  frontend/src/components/contacts/ContactList.vue
  frontend/src/views/contacts/AddressBook.vue
Due: prettier, eslint

Implement support for all possible SOCKET_TYPEs when generating AutoDiscover XML
  modoboa/autoconfig/templates/autoconfig/autodiscover.xml
Due: none

Support Thunderbird placeholders in all auto-discover responses
  modoboa/autoconfig/views.py
Due: pylint

Implement support for TLS/StartTLS distinction for Apple Mail MDM profiles
  modoboa/autoconfig/views.py
Due: pylint

Add missing documentation for `EMAIL_CLIENT_CONNECTION_SETTINGS`
  doc/upgrade.rst
  modoboa/core/commands/templates/settings.py.tpl
Due: none

Fix broken link for docs
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Allow `bcrypt` 5.0.0 again
  modoboa/core/password_hashers/advanced.py
  pyproject.toml
Due: pylint

WIP: replaced FullCalendar by Vuetify internal calendar
  docker/Dockerfile.radicale.dev
  frontend/package.json
  frontend/src/components/calendars/EventForm.vue
  frontend/src/views/calendars/CalendarView.vue
  frontend/yarn.lock
  modoboa/calendars/backends/caldav_.py
  modoboa/calendars/serializers.py
  modoboa/calendars/viewsets.py
Due: pylint, prettier, eslint

Replaced passlib by libpass.
  pyproject.toml
Due: none

Use domain from headers if not available within an auth result.
  modoboa/dmarc/lib.py
Due: pylint

Make sure passwords are properly generated in config file.
  modoboa/imap_migration/models.py
  modoboa/imap_migration/templates/imap_migration/offlineimap.conf
  modoboa/imap_migration/tests.py
  modoboa/lib/cryptutils.py
Due: pylint

Use RQ instead of cron - mailbox ops
  modoboa/admin/jobs.py
  modoboa/admin/management/commands/handle_mailbox_operations.py
  modoboa/admin/models/mailbox.py
  test_project/test_project/settings.py
Due: pylint

Some update
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/jobs.py
  modoboa/core/management/commands/job_heartbeat.py
  modoboa/core/password_hashers/base.py
  pyproject.toml
  update_deps.sh
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
