Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Use raw mode on custom or broken sieve file (#3387)
  docker/dovecot_config/auth-custom.conf
  frontend/src/api/repository.js
  frontend/src/views/account/FiltersView.vue
  modoboa/core/checks.py
  modoboa/sievefilters/api/v2/tests.py
  modoboa/sievefilters/api/v2/viewsets.py
  modoboa/sievefilters/lib.py
  modoboa/sievefilters/mocks.py
Due: pylint, prettier, eslint

Update .readthedocs.yml
  .readthedocs.yml
Due: none

Updated mergify config
  .mergify.yml
Due: none

Fixed mergify config
  .mergify.yml
Due: none

Prevent numbers used in templates as part of JavaScript or CSS from locale-aware formatting applied if `USE_THOUSANDS_SEPARATOR` is True
  modoboa/templates/common/buttons_list.html
  modoboa/templates/common/menulist.html
  modoboa/templates/common/progressbar.html
  modoboa/templates/common/wizard_forms.html
  modoboa/templates/nlayout.html
Due: none

WIP: frontend module federation setup.
  .gitignore
  docker-compose.yml
  docker/Dockerfile.dev
  frontend/src/api/account.js
  frontend/src/components/shared/AppsMenu.vue
  frontend/src/components/shared/TopMenu.vue
  frontend/src/components/shared/UserMenu.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/vite.config.js
  modoboa/core/api/v2/serializers.py
  modoboa/core/api/v2/viewsets.py
  modoboa/core/extensions.py
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Updated yarn.lock
  frontend/yarn.lock
Due: none

WIP: frontend module federation
  frontend/package.json
  frontend/src/components/shared/UserMenu.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.store.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/login/LoginCallbackView.vue
  frontend/vite.config.js
  frontend/yarn.lock
Due: prettier, eslint

Update
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/admin/logs/AuditTrailList.vue
  frontend/src/components/admin/logs/MessageList.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/shared/TopMenu.vue
  frontend/src/layouts/connected/ConnectedLayout.vue
  frontend/src/layouts/connected/ConnectedView.vue
  frontend/src/layouts/dashboard/DashboardLayout.vue
  frontend/src/layouts/dashboard/NavBar.vue
  frontend/src/layouts/empty/EmptyLayout.vue
  frontend/src/layouts/empty/EmptyView.vue
  frontend/src/router/index.js
  frontend/src/views/admin/domains/DomainsView.vue
  frontend/src/views/admin/identities/IdentitiesView.vue
  frontend/vite.config.js
Due: prettier, eslint

Added missing requirements
  pyproject.toml
Due: none

Fixed wrong imports
  frontend/src/router/index.js
Due: prettier, eslint

Updated requirement files
  dev-requirements.txt
  ldap-requirements.txt
  mysql-requirements.txt
  postgresql-requirements.txt
  requirements.txt
  test-requirements.txt
Due: none

Updated Radicale dockerfile
  docker/Dockerfile.radicale.dev
Due: none

Moved import
  modoboa/contacts/apps.py
Due: pylint

Added contacts settings loading
  modoboa/contacts/apps.py
Due: pylint

Fixed unit tests
  docker/radicale_config/config
  modoboa/calendars/management/commands/generate_rights.py
  modoboa/calendars/tests.py
  modoboa/contacts/tests.py
Due: pylint

Fixed tests
  modoboa/calendars/handlers.py
  modoboa/calendars/tests.py
  modoboa/core/api/v2/tests.py
  modoboa/parameters/api/v2/tests.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
