Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Added some instructions for uwsgi
  doc/upgrade.rst
Due: none

Added oauth 2 generation explaination for radicale
  doc/installation.rst
  doc/manual_installation/radicale.rst
Due: none

Added radicale link
  doc/upgrade.rst
  modoboa/core/checks.py
Due: pylint

allowed_host should be a list
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Fixed typo
  modoboa/core/checks.py
Due: pylint

Updated explaination for radicale
  doc/manual_installation/radicale.rst
  doc/upgrade.rst
Due: none

Added instructions to fix potential login issue with MariaDB 10.7+
  doc/upgrade.rst
Due: none

Consider fields as optional
  modoboa/webmail/serializers.py
Due: pylint

Updated doc
  doc/upgrade.rst
Due: none

Fixed connection issue
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Compat with django-auth-ldap > 5
  docker-compose.yml
  docker/Dockerfile.dev
  modoboa/lib/authbackends.py
  pyproject.toml
Due: pylint

Improve coverage
  modoboa/core/tests/test_ldap.py
Due: pylint

Added missing migration
  modoboa/core/migrations/0030_alter_user_managers.py
Due: pylint

Update offline.css
  modoboa/static/css/offline.css
Due: none

fixed docker not launching
  modoboa/core/migrations/0004_auto_20150728_1228.py
  modoboa/core/migrations/0025_rename_user_email_is_active_core_user_email_c0c03f_idx.py
Due: pylint

Fixed dev mode for load_initial_data
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Separated aliases and accounts in identities
  frontend/src/api/accounts.js
  frontend/src/api/aliases.js
  frontend/src/components/admin/alarms/AlarmList.vue
  frontend/src/components/admin/identities/IdentityList.vue
  modoboa/admin/api/v2/viewsets.py
Due: pylint, prettier, eslint

Frontend update
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/IdentityList.vue
  frontend/src/components/tools/ChooseColumnsForm.vue
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Safer variable access
  modoboa/webmail/lib/sendmail.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
