Repository modoboa/modoboa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-under=5

prettier:
  name: prettier
  entry: prettier --config frontend/.prettierrc.json --write --ignore-unknown
  language: node
  additional_dependencies:
  - prettier

eslint:
  name: eslint
  language: node
  entry: eslint -c frontend/.eslint.conf.js --fix
  additional_dependencies:
  - eslint-plugin-vue
  - eslint-config-prettier
  - prettier
  - eslint

Allow empty local part for alias definition
  frontend/src/components/webmail/MailboxList.vue
  modoboa/admin/api/v2/serializers.py
Due: pylint, prettier, eslint

Disable aliases only when account is disabled...
  modoboa/admin/handlers.py
Due: pylint

Fixed various frontend issues
  frontend/src/App.vue
  frontend/src/components/calendars/CalendarForm.vue
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/shared/TopMenu.vue
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/layouts/webmail/WebmailLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/domains.store.js
  frontend/src/views/account/ParametersView.vue
  frontend/src/views/admin/domains/DomainEditView.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/autoreply/migrations/0011_auto_20250609_0851.py
Due: pylint, prettier, eslint

Added missing return
  frontend/src/components/shared/TopMenu.vue
Due: prettier, eslint

Fixed multiple issues in calendar views.
  frontend/src/api/calendars.js
  frontend/src/components/calendars/CalendarForm.vue
  frontend/src/components/calendars/EventForm.vue
  frontend/src/components/calendars/ImportEventsForm.vue
  frontend/src/views/calendars/CalendarView.vue
  modoboa/core/commands/templates/settings.py.tpl
  test_project/test_project/settings.py
Due: pylint, prettier, eslint

Only symlink to frontend directory contents instead of copying them
  modoboa/core/management/commands/load_initial_data.py
Due: pylint

Add test for frontend directory contents after calling `load_initial_data`
  modoboa/core/tests/test_core.py
Due: pylint

Updated translation files
  frontend/src/locale/br/app.po
  frontend/src/locale/cs/app.po
  frontend/src/locale/de/app.po
  frontend/src/locale/el/app.po
  frontend/src/locale/en/app.po
  frontend/src/locale/es/app.po
  frontend/src/locale/fi/app.po
  frontend/src/locale/fr/app.po
  frontend/src/locale/it/app.po
  frontend/src/locale/ja/app.po
  frontend/src/locale/messages.pot
  frontend/src/locale/nl/app.po
  frontend/src/locale/pl/app.po
  frontend/src/locale/pt_BR/app.po
  frontend/src/locale/ru/app.po
  frontend/src/locale/sv/app.po
  frontend/src/locale/tr/app.po
  frontend/src/locale/zh/app.po
Due: none

Updated doc
  doc/conf.py
  doc/contributing/getting_started.rst
Due: pylint

Handle NXDOMAIN exception to avoid stoping the process.
  modoboa/admin/lib.py
Due: pylint

Updated doc
  doc/index.rst
Due: none

Use custom resolver instead of default one.
  modoboa/admin/lib.py
Due: pylint

Various fixes about Reseller mode in frontend.
  frontend/src/api/accounts.js
  frontend/src/components/admin/domains/DomainAdminList.vue
  frontend/src/components/admin/domains/DomainEditForm.vue
  frontend/src/components/admin/identities/AccountCreationForm.vue
  frontend/src/components/admin/identities/AccountEditForm.vue
  frontend/src/components/admin/identities/AccountSummary.vue
  frontend/src/components/admin/identities/form_steps/AccountGeneralForm.vue
  frontend/src/components/admin/identities/form_steps/AccountMailboxForm.vue
  frontend/src/components/admin/identities/form_steps/AccountRoleForm.vue
  frontend/src/components/shared/NavBar.vue
  frontend/src/components/tools/ChoiceField.vue
  frontend/src/components/tools/CreationForm.vue
  frontend/src/components/tools/EmailField.vue
  frontend/src/components/tools/ResourcesView.vue
  frontend/src/composables/permissions.js
  frontend/src/constants.json
  frontend/src/layouts/admin/AdminLayout.vue
  frontend/src/plugins/permissions.js
  frontend/src/router/index.js
  frontend/src/views/account/SettingsView.vue
  frontend/src/views/admin/identities/AccountView.vue
  modoboa/admin/api/v2/viewsets.py
  modoboa/lib/permissions.py
  modoboa/parameters/api/v2/viewsets.py
Due: pylint, prettier, eslint

Fixed wrong DMARC report detail display.
  frontend/src/components/admin/dmarc/DmarcSourceTable.vue
Due: prettier, eslint

Removed legacy code
  codecov.yml
  docker-compose.yml
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/dev_settings.py
  modoboa/templates/404.html
  modoboa/templates/500.html
  modoboa/templates/layout_simple.html
Due: pylint

Ensure compatibility with Fido2 2.x
  modoboa/core/fido2_auth.py
  pyproject.toml
Due: pylint

Try to debug publish step
  .github/workflows/modoboa.yml
Due: none

Use RQ instead of cron - mailbox ops
  modoboa/admin/jobs.py
  modoboa/admin/management/commands/handle_mailbox_operations.py
  modoboa/admin/models/mailbox.py
  test_project/test_project/settings.py
Due: pylint

Some update
  modoboa/core/commands/templates/settings.py.tpl
  modoboa/core/jobs.py
  modoboa/core/management/commands/job_heartbeat.py
  modoboa/core/password_hashers/base.py
  pyproject.toml
  update_deps.sh
Due: pylint

Added notif after successful deletion of account/alias
  frontend/src/components/admin/domains/DomainList.vue
  frontend/src/components/admin/identities/IdentityList.vue
Due: prettier, eslint

Added missing 'modoboa.webmail' line in MODOBOA_APPS
  modoboa/core/commands/templates/settings.py.tpl
Due: none

Updated favicon
  modoboa/static/css/favicon.ico
  modoboa/static/css/logo-icon.png
  modoboa/templates/layout_simple.html
  modoboa/templates/registration/base.html
Due: none

Path conditions:
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$
